- var _feedback = power2022['feedback'];
- var _classes = power2022['classes'];
- var _final_teams = power2022['final_teams'];
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../../header.pug  
  link(rel="stylesheet" href="/styles/common.css?version="+timestamp)
  link(rel="stylesheet" href="/styles/2022/power.css?version="+timestamp)
body.w-100
  include ../../nav.pug
  .container.px-lg-5.py-5
    .row.g-4
      .col-md-5
        .pe-md-4: img.w-100.h-auto.border-light(src="/assets/img/power2022/首頁封面.jpg", alt="首頁封面", style="border: 3px solid;")
      .col
        .text-o
          h5 搭起 g0v 社群與校園的橋樑 — —
          h2 新世代的數位公民教育實踐
        .text-light
          h4.mt-4 零時小學校 成果手冊
          div 2022/02 - 2023/06
        hr.text-o
        p.mt-4.mb-0 零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的意涵，同時也代表教育與數位社群的連結與協作。
        .mt-4
          a.btn.btn-o.px-4(href="https://drive.google.com/file/d/1fAVvQlNdlrwA6YlZZcy_fRSWoifVhkd6/view?usp=drive_link", target="_blank") 2022 成果手冊
          a.btn.btn-o.px-4.ms-3(href="https://g0v.hackmd.io/@jothon/sch001pr0jectcourseplan", target="_blank") 我要合作
        .mt-4.text-o.text-lg.
          ｜歷年成果｜影響力調查｜學校合作課程｜師培課程<span class="d-none d-md-inline">｜<br></span>
          ｜數位公民增能課｜專案孵化競賽｜社群連結<span class="d-none d-md-inline">｜<br></span>
          ｜國際交流｜實習生專訪｜未來展望｜
    mixin feedback_slide(val)
      .swiper-slide.px-4.px-md-5
        .row.align-items-center.g-3
          .col-md-auto
            img(src="/assets/img/power2022/feedback/"+val['avatar'], alt="", style="width: 7rem;")
          .col
            .text-o #{val['title']}：
            .mt-3 #{val['content']}
    #feedback.py-3.px-md-4.mt-5
      .swiper.feedbackSwiper.px-4.px-md-5
        .swiper-wrapper.align-items-center
          each val, index in _feedback
            +feedback_slide(val)
        .swiper-button-next
        .swiper-button-prev

  .bg-light.text-dark: .container.px-lg-5.py-5
    #counters.row.align-items-center.g-4
      .col-md-2
        .text-center.d-none.d-md-block
          h1.text-br.mb-0 歷
          h1.text-br.mb-0 年
          h1.text-br.mb-0 成
          h1.text-br.mb-0 果
        .text-center.d-block.d-md-none
          h1.text-br 歷年成果
      .col-md-auto: .px-5
        .d-flex
          .number 13
          .title 場講座／讀書會
        .d-flex
          .number 3 
          .title 場數位公民增能營隊
        .d-flex
          .number 3 
          .title 場專案孵化競賽
        .d-flex
          .number 2 
          .title 場師培工作坊
        .d-flex
          .number 8 
          .title 個學校合作課程
        .d-flex
          .number 65 
          .title 堂線上數位公民課
        .d-flex
          .number 100 
          .title 件公民科計專案
        .d-flex
          .number.ps-2 2000+
          .title 位參與者
      .col
        img.w-100.rounded-1(src="/assets/img/power2022/歷年成果.jpg", alt="")
  .bg-gray-300.text-dark: #charts.container.px-lg-5.py-5
    h2.text-b 影響力調查
    .row.mt-4.p-4.p-md-5.gy-4
      .col-md-7
        h3.mb-4 （一）參與者輪廓
        p.mb-0 零時小學校本年度開始積極與學校合作長期課程，因此學生參與比例最高，其中大學生與高中生為最多。而除與老師合作課程，也於營隊提供教師研習時數，以及開設師培，故教育工作者參與人數位居第三。此外今年新增許多科技趨勢、公民專案經驗與技術等課程，並透過源力增能營與讀書會等方式，吸引許多社會人士參與。
      .col-md-5
        img.w-100(src="/assets/img/power2022/charts/1.png", alt="")
    .row.mt-4.p-4.p-md-5.gy-4
      .col-12
        h3.mb-4 （二）零時小學校活動對自我發展的影響程度
        p.mb-0 本年度所有活動的參與者認為，零時小學校的活動對於自我發展的影響程度，以「貢獻社會與自我價值實現」為最高，其次則為「個人能力提升」以及「多人協作的專案執行經驗」，零時小學校課程內容皆包含公民自主發起數位協作專案解決社會議題的經驗，且強調開源，與其他專案課程發展目標不同，具有一定的公共性與社會影響力。
      .col-12
        img.w-100(src="/assets/img/power2022/charts/2.png", alt="")
    .row.mt-4.p-4.p-md-5.gy-4
      .col-12
        h3.mb-4 （三）數位公民課程
        div 
          p 本年度所有活動的參與者認為，零時小學校的活動對於自我發展的影響程度，以「貢獻社會與自我價值實現」為最高，其次則為「個人能力提升」以及「多人協作的專案執行經驗」，零時小學校課程內容皆包含公民自主發起數位協作專案解決社會議題的經驗，且強調開源，與其他專案課程發展目標不同，具有一定的公共性與社會影響力。
          p.mb-0 而對照 108 課綱九大核心素養，參與者認為數位公民課程培養的主要五大能力依序為「科技資訊與媒體素養、規劃執行與創新應變、人際關係與團隊合作、系統思考與解決問題、道德實踐與公民意識」。
      .col-12
        img.w-100(src="/assets/img/power2022/charts/3.png", alt="")
    .row.mt-4.p-4.p-md-5.gy-4
      .col-md-6
        h3.mb-4 （四）提案數與學生提案比例
        p.mb-0 三年來共收到 100 件提案，其中 63 件來自國高中、大學生。其中 2023 年學生提案比例為三年最高，19 件提案中共有 12 件學生提案。
      .col-md-6
        img.w-100(src="/assets/img/power2022/charts/4.png", alt="")
    .row.mt-4.p-4.p-md-5.gy-4: .col
        h3.mb-4 （五）提案主題面向
        p.mb-0 歷年提案面向的情境分別為社會與學習，其中社會面向多為急迫議題，如行人安全、交通等，以及人文扎根相關，如眾生開眼_坪林尋怪地圖專案與學校合作，製作妖怪地圖凸顯坪林觀光與議題。而學習面向的年齡層廣泛，但多以解決國高中問題為主，如找學伴、找學習資源等。
    .row.mt-4.p-4.p-md-5.gy-4
      .col-12
        h3.mb-4 （六）來 g0v 社群提案的理由
        p.mb-0 根據歷年專案孵化競賽提案團隊的回饋，和其他社群相比，在 g0v 社群提案的受益程度和獨特性皆受到提案者們認同。其中「在 g0v 社群專案更有可能成型及發展」、「建立跨界的人脈與連結」、「希望能獲得 g0v 社群貢獻者的回饋或建議」這三項，獲得了提案團隊的 100% 肯定，認為在 g0v 社群中提案更可能促成專案的發展。
      .col-12
        img.w-100(src="/assets/img/power2022/charts/6.png", alt="")
  
  #classes.container.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o 學校合作課程
        .d-block.d-md-none: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/學校合作課程.jpg", alt="")
        p.mt-4.mb-0 零時小學校每年與不同的高中、大學合作，邀請社群講師開設 g0v 專案協作心法、專案經驗、數位工具使用等課程，培育學生專案實作的能力，讓「自主 X 協作 X 跨界 X 行動」專案在教學現場發生，跳脫學校框架，讓人人都可以在社群中自發性協作，用行動改變社會。
        .mt-4
          a.btn.btn-o.px-5(href="https://g0v.hackmd.io/@jothon/sch001pr0jectcourseplan/", target="_blank") 課程列表
          a.btn.btn-o.px-5.ms-3(href="https://sch001.g0v.tw/dash/brd/sch001-2023-prjs/list", target="_blank") 提案列表
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/學校合作課程.jpg", alt="")
    hr.my-5
    .row.g-4
      mixin classes(val)
        a(href=val['link'], target='_blank'): .ratio.ratio-4x3
          img.w-100.rounded-1(src="/assets/img/power2022/classes/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title']}
      each val, index in _classes
        .col-md-4.class-box: +classes(val)
  
  hr

  mixin team_modal(index, val)
    .modal.fade(tabindex='-1' aria-hidden='true' id='teamModal'+index)
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.border-0
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.text-dark.pb-5.px-4
            .row.align-items-center
              .col-4
                img.w-100.rounded-1(src="/assets/img/power2022/projects/"+val['img'], alt="")
              .col
                h3 #{val['title']}
                .mt-4 #{val['description']}
                .mt-4
                  a.btn.btn-o(href=val["proposal_page"], target="_blank") 提案頁面
                  a.btn.btn-o.ms-2(href=val["project_website"], target="_blank") 專案網站
                  a.btn.btn-o.ms-2(href=val["open_source_content"], target="_blank") 開源內容
                  a.btn.btn-o.ms-2(href=val["team_interview"], target="_blank") 採訪文章
            hr.my-4
            .row
              .col-6
                h3.mb-4 團隊成員
                each member, index in val['team_members']
                  span
                    if index != 0
                      | 、
                    | #{member}
              .col-6
                h3.mb-4 專案開源
                div #{val['open_source_license']}
  each val, index in _final_teams
    +team_modal(index, val)
  #projects.container.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o 專案孵化競賽
        .d-md-none.d-block: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/專案孵化競賽.jpg", alt="")
        .mt-4 
          p 零時小學校自成立以來，已經舉辦三屆專案孵化競賽，給予有意願做專案的學習者更多資源與舞台，並藉此鼓勵開源專案發展，推廣「開源」與「協作」概念。
          p.mb-0 第三屆競賽不限題目，任何與符合聯合國永續指標 SDGs 或社會創新、教育、公共議題，且符合「開源協作」的精神都歡迎提案。而 22 歲以下青年提案將有保障名額的機會。此外，本次計畫除了原有的資源媒合、入選獎金，特別新增與 g0v 資深參與者的一對一專案諮詢、提案優化工作坊，藉由多元的支持，陪伴各團隊不斷優化專案。

        .mt-4
          a.btn.btn-o.px-5(href="/2022/means/", target="_blank") 競賽辦法
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/專案孵化競賽.jpg", alt="")
    hr.my-5
    .row.g-4.justify-content-center
      mixin team(index, val)
        a(href="#" data-bs-toggle="modal" data-bs-target="#teamModal"+index): .ratio.ratio-1x1
          img.w-100.rounded-1(src="/assets/img/power2022/projects/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title']}
      each val, index in _final_teams
        .col-md-4.team-box: +team(index, val)

  .bg-gray-300.text-dark
    #community.container.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-6
          h2.text-br 社群連結
          .mt-4.list
            div <span>【青平台】</span> 數位願景工作坊－－給台灣數位永續的備忘錄
            div <span>【樹冠學校】</span> 創新趨勢講座：從  g0v 社群孕育數位公民
            div <span>【SITCON 2022 學生計算機年會】</span> CourseAPI x 島島阿學
            div <span>【均優學習論壇】</span> g0v  零時小學校：自主 x 數位 x 協作教育
            div <span>【東海大學】</span> 面對  AI 海嘯，如何培養必備的數位公民素養
            div <span>【政治大學】</span> 數位工具協作工作坊
        .col-md-5
            img.w-100.rounded-1(src="/assets/img/power2022/社群連結.jpg", alt="")

    #intl.container.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-5.order-md-1
          h2.text-br 國際交流
          p.mt-4.mb-0 2023 年六月，零時小學校及 g0v 社群夥伴前往韓國濟州島參加面海松，與日韓的公民科技社群們進行交流。揪松團也提出「Civic Tech Project Handbook」專案，以工作坊形式邀請大家分享各國公民科技社群、專案經驗，其中特別談到公民科技與政府關係的拿捏，揪松團也將彙整所有經驗並於 2023年底發布。
          .mt-4
            a.btn.btn-o.px-4(href="https://g0v.hackmd.io/@chihao/Sk8llvPmh", target="_blank") 2023 面海松
            a.btn.btn-o.px-4.ms-4(href="https://g0v.hackmd.io/@jothon/ctpbook/", target="_blank") 公民科技手冊
        .col-md-6
            img.w-100.rounded-1(src="/assets/img/power2022/國際交流.jpg", alt="")

    #intern.container.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-6
          h2.text-br 實習生專訪
          p.mt-4.mb-0 g0v 揪松團這次與「堉璘臺大人才培育計畫」第二次合作，我們的核心任務是與社群貢獻者共同推廣開源協作的價值，因此在這次的培育計畫中，希望能將我們的核心理念傳達給學生，並讓學生在過程中學習、成長，甚至可以主動參與社群的協作過程。
          .mt-4
            a.btn.btn-o.px-4(href="https://g0v.hackmd.io/nz6t-xZGT2WQfC0mD5u89Q", target="_blank") 專訪全文
        .col-md-5
            img.w-100.rounded-1(src="/assets/img/power2022/實習生專訪.jpg", alt="")

  #future.container.px-lg-5.py-5
    .row.justify-content-center.align-items-center.g-4
      .col-md-6
        h2.text-o 未來展望
        p.mt-4 零時小學校本年度將重點放在數位公民向下扎根，積極開發更多面向的數位公民課程，並與許多高中大學合作，引導學生做專案。而在扎根後，除持續開發數位公民課程、學校合作、營隊及各式活動辦理、舉辨專案孵化競賽等原訂計劃，零時小學校將專注在「專案協作」數位公民素養的茁壯。
        p.mb-0 2023 下半年開始，零時小學校將逐步整理過往專案實作課程之經驗、模式與教案，形成可複製的教學/學習模式，積極進行「師資培育」，運用書籍舉辦師培活動以及入校合作，藉由培育教師影響更多學生，強化數位公民素養向下扎根的力道。
      .col-md-5
        img.mt-md-5.w-100.rounded-1(src="/assets/img/power2022/未來展望.jpg", alt="")

  include ../../footer.pug
  script.
    var swiper = new Swiper(".feedbackSwiper", {
      loop: true,
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    function runNums(target, targetNum, curNum) {
      $(target).text(Math.floor(curNum));
      if (targetNum > curNum) {
        curNum++;
        if(targetNum - curNum > 20)
          curNum+=20;
        setTimeout(function() {
          runNums(target, targetNum, curNum)
        }, 40);
      }
    }

    function randNums(target, targetNum) {
      if($(target).hasClass("running")) {
        if(targetNum < 10) {
          $(target).text(Math.floor(9*Math.random()));
        }
        else if(targetNum < 100) {
          $(target).text(Math.floor(10 + 89*Math.random()));
        }
        else {
          $(target).text(Math.floor(100 + 899*Math.random()));
        }
        setTimeout(function() {
          randNums(target, targetNum)
        }, 10);
      } else {
        $(target).text(targetNum);
      }
    }

    $(window).scroll(function(){
      if($(window).scrollTop() + window.innerHeight > $("#courses").offset().top + $("#courses").height()/2 && $("#courses").data("showed") == false){
        $("#courses").data("showed", true);
        let animNumDoms = $(".animatenumbers");
        animNumDoms.each(function(index){
          let targetNum = $(this).data("targetnum");
          $(this).addClass("running");
          randNums(`.animatenumbers[data-targetnum=${targetNum}]`, targetNum);
          setTimeout(function() {
            $(`.animatenumbers[data-targetnum=${targetNum}]`).removeClass("running");
          }, 1500 + index*500)
        });
      }
    });

    $(window).scroll();
    $(window).resize();
