- var _feedback = power2022['feedback'];
- var _classes = power2022['classes'];
- var _classes_teacher = power2022['classes_1'];
- var _classes_citizen = power2022['classes_2'];
- var _final_teams = power2022['final_teams'];
<!DOCTYPE html>
html(lang="en")
  include ../../../header.pug  
  link(rel="stylesheet" href="/styles/common.css?version="+timestamp)
  link(rel="stylesheet" href="/styles/2022/power.css?version="+timestamp)
body.w-100
  include ../../../nav.pug
  #main-desc.container.px-4.px-lg-5.py-5
    .text-end.mb-3: a#lang-btn.btn.btn-outline-my(href="/2022/power" role="button") EN | 中
    .row.align-items-center.g-4
      .col-md-5
        .pe-md-4: img.w-100.h-auto.border-light(src="/assets/img/power2022/首頁封面.jpg", alt="首頁封面", style="border: 3px solid;")
      .col
        .text-o
          h5 Bridging the g0v Community and Campuses -
          h2 Practicing Digital Citizenship Education for the New Generation
        .text-light
          h4.mt-4 Sch001 Final Report
          div 2022/02 - 2023/06
        hr.text-o
        p.mt-4.mb-0 "Sch001" project is a g0v project that focuses on education. It puts 0 and 1 representing the digital native generation in the "School" to invite everyone to rethink the meaning of school. Sch001 also represents the connection and collaboration between education and the digital community.
        .mt-4
          a.btn.btn-o.px-4(href="https://drive.google.com/file/d/1fAVvQlNdlrwA6YlZZcy_fRSWoifVhkd6/view?usp=drive_link", target="_blank") 2022 Sch001 Final Report
          a.btn.btn-o.px-4.ms-3(href="https://g0v.hackmd.io/@jothon/sch001pr0jectcourseplan", target="_blank") Contact
        #link-box.mt-4.text-o.text-lg
          .row.g-2
            .col-auto: a(href='#counters') Achievements
            .col-auto: a(href='#charts') Impact Assessment
            .col-auto: a(href='#classes') School Collaboration Courses
            .col-auto: a(href='#classes-teacher') Teacher Training Workshop
            .col-auto: a(href='#classes-citizen') Digital Citizenship Empowerment Courses
            .col-auto: a(href='#projects') Project Incubator Competition
            .col-auto: a(href='#community') Community Connections
            .col-auto: a(href='#intl') International Exchanges
            .col-auto: a(href='#intern') Intern Interviews
            .col-auto: a(href='#future') Future Outlook
    mixin feedback_slide(val)
      .swiper-slide.px-4.px-md-5
        .row.align-items-center.g-3
          .col-md-auto
            img(src="/assets/img/power2022/feedback/"+val['avatar'], alt="", style="width: 7rem;")
          .col
            .text-o #{val['title']}：
            .mt-3 #{val['content']}
    #feedback.py-3.px-md-4.mt-5
      .swiper.feedbackSwiper.px-4.px-md-5
        .swiper-wrapper.align-items-center
          each val, index in _feedback
            +feedback_slide(val)
        .swiper-button-next
        .swiper-button-prev

  .bg-light.text-dark: .container.px-4.px-lg-5.py-5
    #counters.row.align-items-center.g-4
      .col-md-2
        .text-center.d-none.d-md-block
          h1.text-br.mb-0 歷
          h1.text-br.mb-0 年
          h1.text-br.mb-0 成
          h1.text-br.mb-0 果
        .text-center.d-block.d-md-none
          h1.text-br 歷年成果
      .col-md-auto: .px-5
        .d-flex
          .number 13
          .title lectures/reading sessions
        .d-flex
          .number 3 
          .title digital citizenship empowerment camps
        .d-flex
          .number 3 
          .title project incubator competitions
        .d-flex
          .number 2 
          .title teacher training workshops
        .d-flex
          .number 8 
          .title collaborative curriculum partnerships with schools
        .d-flex
          .number 65 
          .title online digital citizenship classes
        .d-flex
          .number 100 
          .title civic science projects
        .d-flex
          .number.ps-2 2000+
          .title participants
      .col
        img.w-100.rounded-1(src="/assets/img/power2022/歷年成果.jpg", alt="")
  .bg-gray-300.text-dark: #charts.container.px-4.px-lg-5.py-5
    h2.text-b Impact Assessment
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4
      .col-md-7
        h3.mb-4 (I) Participant Profile
        p.mb-0 In the current academic year, Sch001 has actively collaborated with schools for long-term programs. As a result, the highest percentage of participants are students, with university and high school students being the majority. In addition to courses in collaboration with teachers, we also offer professional development hours for educators during camps and provide teacher training workshops. Consequently, the number of education professionals participating ranks third. Furthermore, this year has seen the addition of various courses on technological trends, civic project experiences, and technical skills. Through initiatives such as the “Sch001 for Source Raising Summer Online Camp“ and reading sessions, we have attracted a significant number of community members and professionals to participate."
      .col-md-5
        img.w-100(src="/assets/img/power2022/charts/1.png", alt="")
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4
      .col-12
        h3.mb-4 (II) The Impact of Sch001 Activities on Self-Development
        p.mb-0 Participants in all activities of the current year believe that Sch001's activities have the most significant impact on "contributing to society and achieving self-worth," followed by "personal skill improvement" and "multi-person collaborative project execution experience." Sch001's curriculum content includes experiences in initiating digital collaborative projects to address societal issues autonomously and emphasizes open-source principles. Unlike other project-based courses, it has a certain level of public and social impact.
      .col-12
        img.w-100(src="/assets/img/power2022/charts/2.png", alt="")
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4
      .col-12
        h3.mb-4 (III) Digital Citizenship Curriculum
        div 
          p In the current academic year, the Sch001 digital citizenship curriculum focuses on project-based learning. The curriculum includes topics such as "Project Collaboration Principles," "Problem Exploration and Project Implementation," "Sharing Experiences in Projects," and "Project Technology/Digital Tool Usage." These skills are developed through summer empowerment camps, collaborations with schools, and teacher training workshops. Sch001 has collaborated with a total of 4 schools this year to offer digital citizenship project-based courses. These schools include Taichung Girls' High School, Neihu High School, National Taiwan University's Department of Computer Science and Information Engineering / Graduate Institute of Networking and Multimedia, and Soochow University's Department of Politics. Notably, Taichung Girls' High School has been in continuous collaboration for two semesters. In the current academic year, participants in the digital citizenship curriculum have accumulated a total of 335,480 minutes of course time.
          p.mb-0 In alignment with the 108 Curriculum's nine core competencies, participants believe that the digital citizenship curriculum primarily fosters five key abilities in the following order: "Technological Information and Media Literacy," "Planning, Execution, Innovation, and Adaptation," "Interpersonal Relationships and Team Collaboration," "Systems Thinking and Problem Solving," and "Ethical Practice and Civic Awareness.
      .col-12
        img.w-100(src="/assets/img/power2022/charts/3.png", alt="")
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4
      .col-md-6
        h3.mb-4 (IV) Number of Proposals and Student Proposal Ratio
        p.mb-0 Over the past three years, a total of 100 proposals have been received, with 63 of them coming from national high school and university students. Among these, the year 2023 had the highest student proposal ratio over the three years, with 12 out of 19 proposals being submitted by students.
      .col-md-6
        img.w-100(src="/assets/img/power2022/charts/4.png", alt="")
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4: .col
        h3.mb-4 (V) Proposal Themes and Focus
        p.mb-0 Proposals submitted over the years have focused on two main areas: societal and educational aspects. Within the societal domain, many proposals have addressed urgent issues such as pedestrian safety, transportation, and related humanistic projects like the 'Strange Pinglin' project in collaboration with schools, which aims to create a monster map to highlight tourism and issues in Pinglin. In the educational domain, proposals have spanned a wide range of age groups but primarily concentrated on solving issues faced by national high school students, such as finding study partners and learning resources.
    .row.align-items-center.mt-4.p-2.p-md-5.gy-4
      .col-12
        h3.mb-4 (VI) Reasons for Submitting Proposals to the g0v Community
        p.mb-0 Based on feedback from Sch001 Project Incubator Competition proposal teams over the years, participants have identified the benefits and uniqueness of submitting proposals to the g0v community when compared to other communities. Specifically, three key reasons received 100% agreement from proposal teams:
            ul 
                li Greater likelihood of project formation and development within the g0v community.
                li Establishing cross-disciplinary connections and networks.
                li Hoping to receive feedback or suggestions from contributors within the g0v community.
            | These factors are seen as contributing to a higher likelihood of project development within the g0v community.
      .col-12
        img.w-100(src="/assets/img/power2022/charts/6.png", alt="")
  
  #classes.container.px-4.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o School Collaboration Courses
        .d-block.d-md-none: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/學校合作課程.jpg", alt="")
        p.mt-4.mb-0 Sch001 collaborates with different high schools and universities each year, inviting community instructors to teach courses on g0v project collaboration principles, project experiences, and digital tool usage. This approach aims to nurture students' abilities for practical project implementation, fostering a culture of 'self-directed, collaborative, interdisciplinary, and action-oriented' projects within the educational setting. This approach goes beyond the boundaries of traditional school frameworks, empowering everyone to spontaneously collaborate within the community and take action to bring about societal change.
        .mt-4
          a.btn.btn-o.px-5(href="https://g0v.hackmd.io/@jothon/sch001pr0jectcourseplan/", target="_blank") Course List
          a.btn.btn-o.px-5.ms-3(href="https://sch001.g0v.tw/dash/brd/sch001-2023-prjs/list", target="_blank") Proposal List
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/學校合作課程.jpg", alt="")
    hr.my-5
    .row.g-4
      mixin classes(val)
        a(href=val['link'], target='_blank'): .ratio.ratio-4x3
          img.w-100.rounded-1(src="/assets/img/power2022/classes/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title_en']}
      each val, index in _classes
        .col-md-4.class-box: +classes(val)
  
  hr
  #classes-teacher.container.px-4.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o Teacher Training Workshop
        .d-block.d-md-none: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/師資培育工作坊.jpg", alt="")
        p.mt-4.mb-0 Sch001 utilizes its experience, models, and lesson plans from previous project-based courses to create replicable teaching/learning models and open-source educational materials. After formulating teaching experiences, the school actively engages in "teacher training" to empower educators to influence more students.
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/師資培育工作坊.jpg", alt="")
    hr.my-5
    .row.g-4
      mixin classes_teacher(val)
        a(href=val['link'], target='_blank'): .ratio.ratio-4x3
          img.w-100.rounded-1(src="/assets/img/power2022/classes/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title_en']}
      each val, index in _classes_teacher
        .col-md-4.class-box: +classes_teacher(val)
  
  hr
  #classes-citizen.container.px-4.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o Digital Citizenship Empowerment Course
        .d-block.d-md-none: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/夏日源力增能營_開幕式.jpg", alt="")
        p.mt-4.mb-0 Every year, Sch001 invites the g0v community speakers and civic tech organizations to help transform the experiences of civic tech practitioners into digital citizenship courses, which are then compiled into open online course videos. The course content includes project collaboration principles and practices, civic tech project experiences and technology, open source, technology trends, civic tech careers, and more. In addition, they organize the "Sch001 for Source Raising Summer Online Camp" during the summer vacation, where participants are invited to independently study digital citizenship course videos online. To adapt to technological trends and current events, they also periodically host various digital citizenship empowerment seminars.
        .mt-4
          a.btn.btn-o.px-5(href="https://g0v.hackmd.io/@jothon/Sch001courses/", target="_blank") Course List
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/夏日源力增能營_開幕式.jpg", alt="")
    hr.my-5
    .row.g-4
      mixin classes_citizen(val)
        a(href=val['link'], target='_blank'): .ratio.ratio-4x3
          img.w-100.rounded-1(src="/assets/img/power2022/classes/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title_en']}
      each val, index in _classes_citizen
        .col-md-4.class-box: +classes_citizen(val)
  
  hr

  mixin team_modal(index, val)
    .modal.fade(tabindex='-1' aria-hidden='true' id='teamModal'+index)
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.border-0
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.text-dark.pb-5.px-4
            .row.align-items-center
              .col-4
                img.w-100.rounded-1(src="/assets/img/power2022/projects/"+val['img'], alt="")
              .col
                h3 #{val['title_en']}
                .mt-4 #{val['description_en']}
                .mt-4.row.g-2
                  .col-auto: a.btn.btn-o(href=val["proposal_page"], target="_blank") Proposal
                  .col-auto: a.btn.btn-o(href=val["project_website"], target="_blank") Website
                  .col-auto: a.btn.btn-o(href=val["open_source_content"], target="_blank") Source
                  .col-auto: a.btn.btn-o(href=val["team_interview"], target="_blank") Interview
            hr.my-4
            .row
              .col-6
                h3.mb-4 Menbers
                each member, index in val['team_members']
                  span
                    if index != 0
                      | 、
                    | #{member}
              .col-6
                h3.mb-4 Open-source
                div #{val['open_source_license']}
  each val, index in _final_teams
    +team_modal(index, val)
  #projects.container.px-4.px-lg-5.py-5
    .row.align-items-center.g-4
      .col-md-6
        h2.text-o Project Incubator Competition
        .d-md-none.d-block: img.mt-3.w-100.rounded-1(src="/assets/img/power2022/專案孵化競賽.jpg", alt="")
        .mt-4 
          p Since its establishment, Sch001 has organized three rounds of project incubator competitions. These competitions provide learners interested in projects with more resources and a platform to encourage the development of open-source projects and promote the concepts of "open-source" and "collaboration."
          p.mb-0 The third competition is open to any topic related to the United Nations Sustainable Development Goals (SDGs), social innovation, education, public issues, and aligning with the spirit of "open-source collaboration." Young individuals below the age of 22 will have guaranteed slots for proposals. Additionally, this initiative includes not only resource matching and prizes for selected projects but also a special addition of one-on-one project consultations with experienced g0v participants and proposal optimization workshops. Through diverse support, teams are guided to continuously improve their projects.


        .mt-4
          a.btn.btn-o.px-5(href="/2022/means/", target="_blank") Competition Rules
      .col-md-6.d-none.d-md-block
        img.w-100.rounded-1(src="/assets/img/power2022/專案孵化競賽.jpg", alt="")
    hr.my-5
    .row.g-4.justify-content-center
      mixin team(index, val)
        a(href="#" data-bs-toggle="modal" data-bs-target="#teamModal"+index): .ratio.ratio-1x1
          img.w-100.rounded-1(src="/assets/img/power2022/projects/"+val['img'], alt="")
        h5.text-center.px-2.mb-0.mt-3 #{val['title_en']}
      each val, index in _final_teams
        .col-md-4.team-box.en: +team(index, val)

  .bg-gray-300.text-dark
    #community.container.px-4.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-6
          h2.text-br Community Connections
          .mt-4.list
            div <span>【青平台】</span> 數位願景工作坊－－給台灣數位永續的備忘錄
            div <span>【樹冠學校】</span> 創新趨勢講座：從  g0v 社群孕育數位公民
            div <span>【SITCON 2022 學生計算機年會】</span> CourseAPI x 島島阿學
            div <span>【均優學習論壇】</span> g0v  零時小學校：自主 x 數位 x 協作教育
            div <span>【東海大學】</span> 面對  AI 海嘯，如何培養必備的數位公民素養
            div <span>【政治大學】</span> 數位工具協作工作坊
        .col-md-5
            img.w-100.rounded-1(src="/assets/img/power2022/社群連結.jpg", alt="")

    #intl.container.px-4.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-5.order-md-1
          h2.text-br International Exchange
          p.mt-4.mb-0 In June 2023, Sch001 and the g0v community partners traveled to Jeju Island, Korea to participate in the "FtO (Facing the Ocean)" event and engage in exchanges with civic tech communities from Japan and Korea. Jothon also presented the "Civic Tech Project Handbook" project, hosting workshops to share experiences from various civic tech communities and projects around the world. Special emphasis was placed on the delicate balance between civic tech and government relations. Jothon will compile all these experiences and release them by the end of 2023.
          .mt-4
            a.btn.btn-o.px-4(href="https://g0v.hackmd.io/@chihao/Sk8llvPmh", target="_blank") 2023 FtO
            a.btn.btn-o.px-4.ms-3(href="https://g0v.hackmd.io/@jothon/ctpbook/", target="_blank") Civic Tech Project Handbook
        .col-md-6
            img.w-100.rounded-1(src="/assets/img/power2022/國際交流.jpg", alt="")

    #intern.container.px-4.px-lg-5.py-5
      .row.justify-content-center.align-items-center.g-4
        .col-md-6
          h2.text-br Intern Interview
          p.mt-4.mb-0 This time, Jothon collaborated for the second time with the "Yulin National Taiwan University Talent Cultivation Program." Our core mission is to promote the value of open-source collaboration together with community contributors. Therefore, in this cultivation program, we hope to convey our core principles to the students and enable them to learn, grow, and even actively participate in the community collaboration process.
          .mt-4
            a.btn.btn-o.px-4(href="https://g0v.hackmd.io/nz6t-xZGT2WQfC0mD5u89Q", target="_blank") The entire interview
        .col-md-5
            img.w-100.rounded-1(src="/assets/img/power2022/實習生專訪.jpg", alt="")

  #future.container.px-4.px-lg-5.py-5
    .row.justify-content-center.align-items-center.g-4
      .col-md-6
        h2.text-o 未Future Outlook
        p.mt-4 In the current year, Sch001 will focus on establishing a strong foundation for digital citizenship. They aim to actively develop a wider range of digital citizenship courses and collaborate with numerous high schools and universities to guide students in project development. After laying this foundation, Sch001 will continue to develop digital citizenship courses, work with schools, organize camps and various activities, and hold project incubation competitions as originally planned.
        p.mb-0 Furthermore, Sch001 will concentrate on nurturing digital citizenship literacy in "project collaboration." Starting in the second half of 2023, Sch001 will gradually compile the experiences, models, and lesson plans from past project-based courses to create replicable teaching and learning models. They will actively engage in "teacher training" through book resources and in-school collaborations, aiming to empower teachers to influence more students. This effort will strengthen the grassroots development of digital citizenship literacy.
      .col-md-5
        img.mt-md-5.w-100.rounded-1(src="/assets/img/power2022/未來展望.jpg", alt="")

  include ../../../footer.pug
  script.
    var swiper = new Swiper(".feedbackSwiper", {
      loop: true,
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    function runNums(target, targetNum, curNum) {
      $(target).text(Math.floor(curNum));
      if (targetNum > curNum) {
        curNum++;
        if(targetNum - curNum > 20)
          curNum+=20;
        setTimeout(function() {
          runNums(target, targetNum, curNum)
        }, 40);
      }
    }

    function randNums(target, targetNum) {
      if($(target).hasClass("running")) {
        if(targetNum < 10) {
          $(target).text(Math.floor(9*Math.random()));
        }
        else if(targetNum < 100) {
          $(target).text(Math.floor(10 + 89*Math.random()));
        }
        else {
          $(target).text(Math.floor(100 + 899*Math.random()));
        }
        setTimeout(function() {
          randNums(target, targetNum)
        }, 10);
      } else {
        $(target).text(targetNum);
      }
    }
