- var _team_data = power2021['final_datas'];
- var _media_data = power2021['media_datas'];
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug  
  link(rel="stylesheet" href="/styles/common.css?version="+timestamp)
  link(rel="stylesheet" href="/styles/power.css?version="+timestamp)
body.w-100
  include ../nav.pug
  .container-fluid: .py-4.overflow-hidden
    .w-1024.part-dark.p-4.mb-4(data-aos-offset="" data-aos="fade-right")
      .row.mb-4
        .col
        .col-auto
          h3.text-center 零時小學校（Sch001）2021-22 成果列表
        .col.text-end
          a#lang-btn.btn.btn-my(href="/power/en" role="button") EN | 中
      p 零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的意涵，同時也代表教育與數位社群的連結與協作。
      p g0v 社群十年來以「開源模式」、「行動主義」、「公民精神」，聚集 <strong>11,529+</strong> 位跨域跨齡貢獻者，自發性提出的 <strong>818+</strong> 件開源協作專案的經驗。因此，g0v 揪松團從 2019 年起，發起聚焦於教育的零時小學校專案，盼以橋樑角色，將 g0v 社群與教育利害關係人連結，將社群的豐富經驗轉化為「向社群學習，與社群共學」的學習模式及資源，鼓勵更多人一起從零思考教育，讓「自主 Ｘ 協作 Ｘ 跨界 Ｘ 行動」專案在教育現場發生，跳脫學校框架，讓人人都可以在社群中自發性協作，用行動改變社會。
      p 在兩年的實踐歷程中，零時小學校舉辦了 <strong>14</strong> 場黑客松/工作坊/講座、<strong>10</strong> 場線上/實體營隊、<strong>2</strong> 場 Demo day，兩年活動吸引超過千人。此外，兩年內我們收到 <strong>37</strong> 件教育科技專案，其中 <strong>8</strong> 件獲獎作品由高中生及大學生提出，令人驚艷。此外專案面向多元，涵蓋鄉村教育、學習資源整合與共享、地方學課程、教育資料庫建立、高中生課業與人際、教師協作等。
      p 而「零時小學校競賽日（Sch001 Demo Day）2021-22」評選委員選出 5 組獲獎團隊：「CourseAPI 開放式課程資訊匯流學院」、「Sync Slide - 萬人演講零延遲」、「眾生開眼_坪林尋怪地圖」、「高中生108課綱教育資源整合平台」、「有效率的尋找學習夥伴」，而其中特別獎項「資料申請小幫手特別獎」則由「鄉民都來開拓公民天文學家的地圖[0]：從互動式開源教材開始」獲獎。
      .text-center
        a.btn.btn-my.mx-1.mt-2(href="/" role="button") 瀏覽小學校官方網站
        a.btn.btn-my.mx-1.mt-2(href="https://drive.google.com/file/d/1p8BGnhcEApNRTuBsnyUV7WxbucuuEsSv/view" role="button" target="_blank") 零時小學校 2021 成果手冊
    
    #courses.part-light.p-4.mb-4(data-showed="false"): .w-1024
      .row.g-0.justify-content-center.align-items-center
        .col-12.col-lg-6
          .swiper.swiperSlide
            .swiper-wrapper
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/01.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/02.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/03.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/04.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/05.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/06.jpg`, alt="")
              .swiper-slide.carousel-img
                img(src=`/assets/img/slides/2021/07.jpg`, alt="")
            .swiper-pagination
        #courselist.col-12.col-lg-5.offset-lg-1
          p
            span.animatenumbers(data-targetnum="2") 0
            | 　場地方小黑客松
          p
            span.animatenumbers(data-targetnum="7") 0
            | 　場線上／實體營隊
          p
            span.animatenumbers(data-targetnum="9") 0
            | 　場合作工作坊／講座
          p
            span.animatenumbers(data-targetnum="10") 0
            | 　件教育科技專案
          p
            span.animatenumbers(data-targetnum="1000") 0
            span.animatenumbers +
            | 　位參與者
      
    mixin modals(_id)
      .modal.fade.team-modal(id="teamModal"+_id tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered.modal-lg(role="document")
          .modal-content
            .modal-body: .part-light
              button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .row.justify-content-center.align-items-center.p-4
                .col-12
                  img(src="/assets/img/teams/"+_team_data[_id]['img'], alt="")
                  .p-4.text-center
                    a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link'] target="_blank") 提案頁面
                    a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link2'] target="_blank") 專案網站
                    a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link_opensource'] target="_blank") 開源內容

                  h3.mb-4 #{_team_data[_id]['title']} 
                  if _team_data[_id]['details']
                    p !{_team_data[_id]['details']}
                  else
                    p !{_team_data[_id]['brief']}
                  hr
                  .row.g-4
                    .col-6
                      h3.mb-4 團隊成員
                      p.team-members #{_team_data[_id]['members']}
                    .col-6
                      h3.mb-4 專案開源
                      p.team-opensource #{_team_data[_id]['opensource']}         
    each val, index in _team_data
      +modals(index)
    .w-1024.part-dark.mb-4.p-4
      mixin teams(_id)
        .col-12.col-lg-4.team-brief(data-aos-offset="" data-aos-delay=_id%3*100 data-aos="zoom-in-up"): .h-100
          a(href="#" data-bs-toggle="modal" data-bs-target="#teamModal"+_id data-teamid=_id)
            .container-fluid.team-img(style=`background-image: url('/assets/img/teams/${_team_data[_id]['img']}')`)
            hr
            h4.title.text-center #{_team_data[_id]['title']}
            p !{_team_data[_id]['brief']}
      #team-area.row.g-4
        each val, index in _team_data
          +teams(index)
      hr
      .text-center
        a.btn.btn-my.mt-2(href="https://sch001.g0v.tw/dash/brd/sch001-2021/list" role="button") 看更多零時小學校提案
    #mediareports.part-light.mb-4.p-4: .w-1024
      h3.mb-4 媒體報導
      a(href="https://sdgs.udn.com/sdgs/story/12425/6110605" target="_blank")
        .row.g-0
          .col-lg-5 
            img.w-100(src="/assets/img/medias/2021/1.jpg", alt="")
          .col-lg-7.d-flex.justify-content-center.flex-column.p-4
            p: b 感謝聯合報系陽光行動報導零時小學校！
            p
              | 零時小學校給你靠 高中生寫「交學伴」軟體 線上學習不孤單<br>
              | 寫程式可以改變社會？由愛好資訊科技的「宅宅」組成的「g0v零時政府」，前年開辦「g0v零時小學校」（Sch001），推廣教學用的社群協作工具、開放資料，促進線上自學與共學。在台灣疫情升溫、實施遠距教學的期間，零時小學校是全台師生最有力的後盾。
  include ../footer.pug
  script.
    var swiper = new Swiper(".swiperSlide", {
      loop: true,
      spaceBetween: 10,
      autoplay: {
        delay: 3000,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        dynamicBullets: true,
        dynamicMainBullets: 3,
        },
    });

    function runNums(target, targetNum, curNum) {
      $(target).text(Math.floor(curNum));
      if (targetNum > curNum) {
        curNum++;
        if(targetNum - curNum > 20)
          curNum+=20;
        setTimeout(function() {
          runNums(target, targetNum, curNum)
        }, 40);
      }
    }

    function randNums(target, targetNum) {
      if($(target).hasClass("running")) {
        if(targetNum < 10) {
          $(target).text(Math.floor(9*Math.random()));
        }
        else if(targetNum < 100) {
          $(target).text(Math.floor(10 + 89*Math.random()));
        }
        else {
          $(target).text(Math.floor(100 + 899*Math.random()));
        }
        setTimeout(function() {
          randNums(target, targetNum)
        }, 10);
      } else {
        $(target).text(targetNum);
      }
    }

    $(window).scroll(function(){
      if($(window).scrollTop() + window.innerHeight > $("#courses").offset().top + $("#courses").height()/2 && $("#courses").data("showed") == false){
        $("#courses").data("showed", true);
        let animNumDoms = $(".animatenumbers");
        animNumDoms.each(function(index){
          let targetNum = $(this).data("targetnum");
          $(this).addClass("running");
          randNums(`.animatenumbers[data-targetnum=${targetNum}]`, targetNum);
          setTimeout(function() {
            $(`.animatenumbers[data-targetnum=${targetNum}]`).removeClass("running");
          }, 1500 + index*500)
        });
      }
    });

    $(window).scroll();
    $(window).resize();
