- var _team_data = power2020['final_datas'];
- var _media_data = power2020['media_datas'];
<!DOCTYPE html>
html(lang="zh-Hant-TW")
    include ../../../header.pug    
    link(rel="stylesheet" href="/styles/2020/power.css?version="+timestamp)
    link(rel="stylesheet" href="/styles/2020/power_en.css?version="+timestamp)
body
    #header-img
        .inner-img.inner-1
        .inner-img.inner-2
        a#lang-btn.btn.btn-outline-my(href="/2020/power/" role="button") EN | 中
    #intros.container-fluid.p-4
        .row.justify-content-center
            .col-12.col-lg-8
                .container
                    h3 Sch001 2020 Final
                    p "Sch001" project puts 0 and 1 representing the digital native generation in the "School". Starting from February 2020, Sch001 has accumulated 21 Edtech proposals in 3 workshops, 3 g0v hackathons, and selected 6 winning teams on Demo Day, including "Dao Dao Online Learning Platform", "Traditional Chinese CC0 corpus and Mozilla Common Voice database", "CoTeach", "Happiness Bankbook", "Chatbot for High School Students" and "Literacy Practices Database".
                    .text-center
                        a.btn.btn-outline-my(href="/" role="button") The Sch001 Website
                hr
                mixin teams(_id)
                    .p-2.col-12.col-lg-4
                        .p-4.col-block.h-100
                            a.team-brief(href="#" data-bs-toggle="modal" data-bs-target="#teamModal"+_id data-teamid=_id)
                                .container-fluid.team-img(style=`background-image: url('/assets/img/teams/${_team_data[_id]['img']}')`)
                            hr
                            h5.text-center #{_team_data[_id]['title_en']}
                            //p #{_team_data[_id]['brief_en']}
                #team-area.row.justify-content-center
                    each val, index in _team_data
                        +teams(index)
                mixin modals(_id)
                    .modal.fade(id="teamModal"+_id tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true")
                        .modal-dialog.modal-lg(role="document")
                            .modal-content
                                .modal-header
                                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                .modal-body
                                    .row.justify-content-center.align-items-center.p-4
                                        .col-12.col-lg-6
                                            .team-img-inner(style=`background-image: url('/assets/img/teams/${_team_data[_id]['img']}')`)
                                            .p-4.text-center
                                                a.m-1.btn.btn-outline-my(role="button" href=_team_data[_id]['link'] target="_blank") Proposal
                                                a.m-1.btn.btn-outline-my(role="button" href=_team_data[_id]['link2'] target="_blank") Website
                                                a.m-1.btn.btn-outline-my(role="button" href=_team_data[_id]['link_opensource'] target="_blank") OpenSource
                                        .col-12.col-lg-6.team-disc.p-4
                                            h5 #{_team_data[_id]['title_en']} 
                                            p #{_team_data[_id]['details_en']}
                                            .row
                                                .col-6
                                                    h3 Members
                                                    p.team-members #{_team_data[_id]['members']}
                                                .col-6.ps-4
                                                    h3 License
                                                    p.team-opensource #{_team_data[_id]['opensource']}
                                    hr
                                            
                each val, index in _team_data
                    +modals(index)

                hr
                .text-center
                    a.btn.btn-outline-my(href="https://sch001.g0v.tw/dash/brd/sch001/list" role="button") More Proposals
    #courses.container-fluid.p-4(data-showed="false")
        .row.justify-content-center.align-items-center
            .col-12.col-lg-5
                #carouselPhotos.carousel.slide(data-bs-ride="carousel")
                    ol.carousel-indicators
                        li.active(data-bs-target="#carouselPhotos" data-bs-slide-to="0")
                        li(data-bs-target="#carouselPhotos" data-bs-slide-to="1")
                        li(data-bs-target="#carouselPhotos" data-bs-slide-to="2")
                        li(data-bs-target="#carouselPhotos" data-bs-slide-to="3")
                        li(data-bs-target="#carouselPhotos" data-bs-slide-to="4")
                    .carousel-inner
                        .carousel-item.active
                            .carousel-img(style="background-image: url(/assets/img/slides/2020/1.jpg)")
                        .carousel-item
                            .carousel-img(style="background-image: url(/assets/img/slides/2020/2.jpg)")
                        .carousel-item
                            .carousel-img(style="background-image: url(/assets/img/slides/2020/3.jpg)")
                        .carousel-item
                            .carousel-img(style="background-image: url(/assets/img/slides/2020/4.jpg)")
                        .carousel-item
                            .carousel-img(style="background-image: url(/assets/img/slides/2020/5.jpg)")
                    a.carousel-control-prev(data-bs-target="#carouselPhotos" role="button" data-bs-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Previous
                    a.carousel-control-next(data-bs-target="#carouselPhotos" role="button" data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Next
            #courselist.col-12.col-lg-5.offset-lg-1.p-4
                p
                    span.animatenumbers(data-targetnum="7") 0
                    | Monthly Workshop
                p
                    span.animatenumbers(data-targetnum="8") 0
                    | Speakers
                p
                    span.animatenumbers(data-targetnum="13") 0
                    | Units & Communities
                p
                    span.animatenumbers(data-targetnum="21") 0
                    | Proposals in Workshop
                p
                    span.animatenumbers(data-targetnum="24") 0
                    | Proposals for Demo Day
    include ../../../footer.pug
    script.
        $(window).mousemove(function( event ) {
            var xPos = 100*event.pageX/window.innerWidth -50;
            var yPos = 100*event.pageY/window.innerHeight -50;
            $("#header-img .inner-1").css({"background-position": `${50+xPos/20}% ${50+yPos/8}%`});
            $("#header-img .inner-2").css({"background-position": `${50-xPos/5}% ${50-yPos/2}%`});
        });
        
        function runNums(target, targetNum, curNum) {
            $(target).text(curNum);
            if (targetNum > curNum) {
                curNum++;
                setTimeout(function() {
                    runNums(target, targetNum, curNum)
                }, 30);
            }
        }

        $(window).scroll(function(){
            if($(window).scrollTop() + window.innerHeight > $("#courses").offset().top + $("#courses").height()/2 && $("#courses").data("showed") == false){
                $("#courses").data("showed", true);
                var animNumDoms = $(".animatenumbers");
                animNumDoms.each(function(index){
                   var targetNum = $(this).data("targetnum");
                   runNums(`.animatenumbers[data-targetnum=${targetNum}]`, targetNum, 0);
                });
            }
        });
