- var _team_data = power2021['final_datas'];
- var _media_data = power2021['media_datas'];
<!DOCTYPE html>
html(lang="en")
    include ../../header.pug    
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel="stylesheet" href="/styles/common.css?version="+timestamp)
    link(rel="stylesheet" href="/styles/power.css?version="+timestamp)
    link(rel="stylesheet" href="/styles/power_en.css?version="+timestamp)
body.w-100
    include ../../nav.pug
    .container-fluid: .py-4.overflow-hidden
        .w-1024.part-dark.p-4.mb-4(data-aos-offset="" data-aos="fade-right")
            .row.mb-4
                .col
                .col-auto
                    h3.text-center Sch001 2021-22 Final
                .col.text-end
                    a#lang-btn.btn.btn-my(href="/power" role="button") EN | 中
            p "Sch001" project is a g0v project that focuses on education. It puts 0 and 1 representing the digital native generation in the "School" to invite everyone to rethink the meaning of school. Sch001 also represents the connection and collaboration between education and the digital community.
            p Therefore, Sch001 invited contributors in the g0v community to transfer their experience of the Civic Tech project into courses and brought to students, educators, and newbies in the g0v community. Sch001 keeps being the bridge to connect schools and the g0v community to break the framework of school so that everyone can spontaneously collaborate across areas and ages and then change society through action.
            p In 2021, Sch001 held two local hackathons, seven virtual/offline camps, and nine workshops/lectures. We received 10 Edtech proposals and selected six winning teams on Demo Day, including "Citizen science for data-driven astronomy education," "Sync Slide," "CourseAPI," "Taiwan K-12 Education Resource Integration Platform," "Strange Pinglin," and "Swipe for study buddies --PinTwo."
            .text-center
                a.btn.btn-my.me-2.mt-2(href="/" role="button") The Sch001 Website
                //a.btn.btn-my.mx-1.mt-2(href="https://drive.google.com/file/d/1p8BGnhcEApNRTuBsnyUV7WxbucuuEsSv/view" role="button" target="_blank") 零時小學校 2021 成果手冊
        
        #courses.part-light.p-4.mb-4(data-showed="false"): .w-1024
            .row.g-0.justify-content-center.align-items-center
                .col-12.col-lg-6
                    .swiper.swiperSlide
                        .swiper-wrapper
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/01.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/02.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/03.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/04.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/05.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/06.jpg`, alt="")
                            .swiper-slide.carousel-img
                                img(src=`/assets/img/slides/2021/07.jpg`, alt="")
                        .swiper-pagination
                #courselist.col-12.col-lg-5.offset-lg-1
                    p
                        span.animatenumbers(data-targetnum="2") 0
                        | 　Local Hackathons
                    p
                        span.animatenumbers(data-targetnum="7") 0
                        | 　Virtual/offline Camps
                    p
                        span.animatenumbers(data-targetnum="9") 0
                        | 　Workshops & Lectures
                    p
                        span.animatenumbers(data-targetnum="10") 0
                        | 　Proposals for Demo Day
                    p
                        span.animatenumbers(data-targetnum="1000") 0
                        span.animatenumbers +
                        | 　Participants
        mixin modals(_id)
            .modal.fade.team-modal(id="teamModal"+_id tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true")
                .modal-dialog.modal-lg(role="document")
                    .modal-content
                        .modal-body: .part-light
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                            .row.justify-content-center.align-items-center.p-4
                                .col-12
                                    img(src="/assets/img/teams/"+_team_data[_id]['img'], alt="")
                                    .p-4.text-center
                                        a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link'] target="_blank") Proposal
                                        a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link2'] target="_blank") Website
                                        a.m-1.btn.btn-my(role="button" href=_team_data[_id]['link_opensource'] target="_blank") Source

                                    h3.mb-4 #{_team_data[_id]['title_en']} 
                                    if _team_data[_id]['details_en']
                                        p !{_team_data[_id]['details_en']}
                                    else
                                        p !{_team_data[_id]['brief_en']}
                                    hr
                                    .row.g-4
                                        .col-6
                                            h3.mb-4 Members
                                            p.team-members #{_team_data[_id]['members']}
                                        .col-6
                                            h3.mb-4 Lisence
                                            p.team-opensource #{_team_data[_id]['opensource']}               
        each val, index in _team_data
            +modals(index)
        .w-1024.part-dark.mb-4.p-4
            mixin teams(_id)
                .col-12.col-lg-4.team-brief(data-aos-offset="" data-aos-delay=_id%3*100 data-aos="zoom-in-up"): .h-100
                    a(href="#" data-bs-toggle="modal" data-bs-target="#teamModal"+_id data-teamid=_id)
                        .container-fluid.team-img(style=`background-image: url('/assets/img/teams/${_team_data[_id]['img']}')`)
                        hr
                        h4.title.text-center #{_team_data[_id]['title_en']}
                        p !{_team_data[_id]['brief_en']}
            #team-area.row.g-4
                each val, index in _team_data
                    +teams(index)
            hr
            .text-center
                a.btn.btn-my.mt-2(href="https://sch001.g0v.tw/dash/brd/sch001-2021/list" role="button") More Proposals
        #mediareports.part-light.mb-4.p-4: .w-1024
            h3.mb-4 News
            a(href="https://sdgs.udn.com/sdgs/story/12425/6110605" target="_blank")
                .row.g-0
                    .col-5 
                        img.w-100(src="/assets/img/medias/2021/1.jpg", alt="")
                    .col-7.d-flex.justify-content-center.flex-column.p-4
                        p: b 感謝聯合報系陽光行動報導零時小學校！
                        p
                            | 零時小學校給你靠 高中生寫「交學伴」軟體 線上學習不孤單<br>
                            | 寫程式可以改變社會？由愛好資訊科技的「宅宅」組成的「g0v零時政府」，前年開辦「g0v零時小學校」（Sch001），推廣教學用的社群協作工具、開放資料，促進線上自學與共學。在台灣疫情升溫、實施遠距教學的期間，零時小學校是全台師生最有力的後盾。
    include ../../footer.pug
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
    script.
        var swiper = new Swiper(".swiperSlide", {
            loop: true,
            spaceBetween: 10,
            autoplay: {
                delay: 3000,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
                dynamicMainBullets: 3,
                },
        });

        function runNums(target, targetNum, curNum) {
            $(target).text(Math.floor(curNum));
            if (targetNum > curNum) {
                curNum++;
                if(targetNum - curNum > 20)
                    curNum+=20;
                setTimeout(function() {
                    runNums(target, targetNum, curNum)
                }, 40);
            }
        }

        function randNums(target, targetNum) {
            if($(target).hasClass("running")) {
                if(targetNum < 10) {
                    $(target).text(Math.floor(9*Math.random()));
                }
                else if(targetNum < 100) {
                    $(target).text(Math.floor(10 + 89*Math.random()));
                }
                else {
                    $(target).text(Math.floor(100 + 899*Math.random()));
                }
                setTimeout(function() {
                    randNums(target, targetNum)
                }, 10);
            } else {
                $(target).text(targetNum);
            }
        }

        $(window).scroll(function(){
            if($(window).scrollTop() + window.innerHeight > $("#courses").offset().top + $("#courses").height()/2 && $("#courses").data("showed") == false){
                $("#courses").data("showed", true);
                let animNumDoms = $(".animatenumbers");
                animNumDoms.each(function(index){
                    let targetNum = $(this).data("targetnum");
                    $(this).addClass("running");
                    randNums(`.animatenumbers[data-targetnum=${targetNum}]`, targetNum);
                    setTimeout(function() {
                        $(`.animatenumbers[data-targetnum=${targetNum}]`).removeClass("running");
                    }, 1500 + index*500)
                });
            }
        });

        $(window).scroll();
        $(window).resize();