- var _title = title;
- var _partners = partners;
- var _team_members = team_members;
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include header.pug
  link(rel="stylesheet" href="styles/index.css")
  link(rel="stylesheet" href="styles/common.css")
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include nav.pug
    #header.container-fluid.m-0.p-0
      .inner
        a.btn.btn-lg.btn-outline-my(role="button" href="/means") 徵件辦法
    .part-dark
      #about.container-sm.py-5
        div(data-aos="")
          h1.pl-4 關於
          p.p-4 零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的角色，代表教育與數位社群的連結與協作。
          h1.pl-4 g0v.tw 社群與教育
          .container-fluid.p-4
            p.p-4.m-0.font-italic(style="background-color: rgba(49,81,194,0.1); border-radius: 3px;")
              |「教育：一種有關培植人才，訓練技能，以支應於國家建設、社會發展的事業。」<br/>
              |「知識：認識的人、朋友；學問、所知道的事理。」<br/>
              |––萌典
          p.p-4
            | g0v 黑客松自 2012 年開辦以來，g0v 參與者以每兩個月一次的頻率，透過 g0v 黑客松，協作出一個個屬性不同的開源專案，用富有開放透明精神的資料，以縮短數位落差為初衷，降低公民參與門檻，使得議題審議可立基在具體事實，提升理性討論公共事務的意識。
          h3.pl-4 離開紙本，知識在社群活起來           
          p.p-4
            | 在知識的面向，g0v 社群曾經協作「<a href="https://www.moedict.tw/'%E6%99%BA%E8%AD%98" target="_blank">萌典</a>」、「<a href="https://amis.moedict.tw/#:co'ong" target="_blank">阿美語萌典</a>」、「<a href="https://itaigi.tw/k/%E5%8F%B0%E8%AA%9E/" target="_blank">iTaigi</a>」和「<a href="https://chhoe.taigi.info/" target="_blank">ChhoeTaigi 找台語</a>」等專案，協作的方法不盡相同：整理數位資料、宅宅文字辨識 OCR（Otaku Character Recognition）、社群語音支援、社群幫校對等等，這些專案讓知識開放在公共領域，成為開放知識資料的重要基礎建設。
            | <br/><br/>
            | 為了激發更多創新的公民科技專案，讓更多知識開放在公共領域，成為跨世代、跨媒介的教育資源，以及公民思辨的重要素材，g0v 揪松團希望以「教育」作為 2020 年的主題，透過「g0v 黑客松」，以及新設的「零時小學校」（工作坊 + Demo Day），希望號召不同領域的知識愛好者，運用資訊科技、分析問題、協作分工，促使更多教育專案有機會邁向標準化、數位化與服務化發展，讓知識在社群活起來。
            | <br/><br/>
            | 自 2020 年起，誠致教育基金會「程有威先生教育科技獎」的經費將交給 g0v 揪松團執行，延續該獎的初衷，並轉型成「零時小學校」，獎勵開源的教育科技專案，期盼開源專案讓教師和學生都能有機會獲得均等和一流學習權。
            | <br/><br/>
            | 除此之外，g0v 揪松團也延續與聯合報系願景工程自 2017 年的合作，從《g0v 公民科技創新獎助金》到零時小學校，形式也許會變，不變的是我們想要共同讓社會更好的期盼。
            | <br/><br/>
            b 我們相信，好的科技工具能夠改變社會，好的科技工具也可以教育出更好的人，讓台灣變成更好的社會。
    #howto.container-sm.py-5
      div(data-aos="") 
        h1.text-center 我要怎麼參與這個專案？不會寫程式可以嗎？
        p.p-4
          b: i 不會寫程式當然沒問題！
          | <br/>
          | 目前，零時小學校（Sch001）有教育工作者、設計師和工程師加入協作的行列，因此，只要你希望透過這個平台，與大家一起協作，都歡迎你透過以下方式，加入 g0v 社群！
        .container
          #howto-steps.row.justify-content-center
            .col-lg-4.text-center
              .step-img(style="background-image: url(assets/img/step0.png);")
              h3.text-center 第零步：加入 g0v Slack 的 #edu 頻道
              p 請進到 g0v Slack 的申請頁面，輸入自己的 E-mail 就可以邀請自己加入了！Slack 有網頁版／電腦版與手機 APP 版，讓你在何時何地都可以快速與社群一起協作。
              a(target="_blank" href="https://g0v.hackmd.io/@jothon/sch001/%2F%40jothon%2FSkJeaBbGL") 點這裡看更多說明
            .col-lg-4.text-center
              .step-img(style="background-image: url(assets/img/header.png);")
              h3.text-center 第一步：找到零時小學校網站
              p 所有零時小學校的介紹、協作方式、參考案例和合作夥伴介紹都在這裡。
              a(target="_blank" href="https://sch001.g0v.tw/") https://sch001.g0v.tw
            .col-lg-4.text-center
              .step-img(style="background-image: url(assets/img/step2.png);")
              h3.text-center 第二步：開始使用零時小學校的共筆，徜徉在教育與科技的世界！
              p 零時小學校有自己專屬的許願池，歡迎到許願池寫下你的提案，如果沒有自己想要做的提案，也歡迎看看別人的提案，有機會的話都可以在 g0v Slack #edu 跟坑主一起討論，或者是來參加下次的工作坊。
              a(target="_blank" href="https://g0v.hackmd.io/@jothon/sch001/%2F%40jothon%2FSykOnPZGU") 點這裡跳進許願池
    hr
    #schedule.container-sm.py-5
      div(data-aos="")
        h1.text-center 零時小學校：課程表
        .container: .row: .col-lg-10.m-auto: ul.timeline
          li
            div
              span.timeline-title 開學日（第一次工作坊）
              span.timeline-date 2020/02/22
            div.timeline-details
              p.pr-4 零時小學校（Sch001）籌備了四個月，終於要在二月開學了！<br>小學校將從二月開始到八月為止，有長達半年的協作歷程，歡迎對教育與科技有興趣的朋友，一起從零開始！
              a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/sch001/%2F%40jothon%2FSyT8dEm1I") 工作坊共筆與錄影
              a.btn.btn-outline-my(role="button" target="_blank" href="https://makeweb.io/page/4Cd6Cj0-z05p+0CHA03RaEic/view") 簡短版活動紀錄
          li
            div
              span.timeline-title g0v 三月大松 g0v Hachath38n
              span.timeline-date 2020/03/14
            div.timeline-details
              p.pr-4 零時小學校（Sch001）在 2020 年 2 月開學，為了延續正能量的動能，持續討論教育科技，零時小學校將響應三月的 g0v 在家黑客松，特開實體的協作現場，歡迎對教育科技有興趣的朋友到 KKTIX 報名。
              a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/sch001/%2F%40jothon%2FB1DBSGTEL") 大松共筆
          li
            div
              span.timeline-title 第二次工作坊
              span.timeline-date 2020/04/19
            div.timeline-details
              p.pr-4 為了延續動能，持續討論教育科技，即使面臨病毒的威脅，我們也要把工作坊拉到雲上面辦，歡迎教育工作者、被教育者、自教育者、工程師、設計師和所有對教育科技有興趣的朋友，一起來雲上面學習。
              a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/Sch001_workshopII") 工作坊共筆
              a.btn.btn-outline-my(role="button" target="_blank" href="https://makeweb.io/page/RaIAb0Dju05Xe0AFJ04ZYV6/view") 簡短版活動紀錄
          li
            div
              span.timeline-title g0v 五月大松 g0v Hachath39n
              span.timeline-date 2020/05/23
            div.timeline-details
              p.pr-4 本次 g0v 又在家黑客松（Stay Home Hachath39n）將與 FtO 國際夥伴再次同步 Hacking！在跨國協作的過程中，社群參與者有機會參考或學習其他文化的做法與邏輯，讓專案可以在不同想法的交流中持續成長。
              a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/F6ghyp48QsqV3BxngDB73A") 大松共筆
          li
            div
              span.timeline-title 第三次工作坊
              span.timeline-date 2020/06/21
          li
            div
              span.timeline-title g0v 七月大松 g0v Hachath40n
              span.timeline-date 2020/07
          li
            div
              span.timeline-title 結業式 Sch001 Demo Day
              span.timeline-date 2020/08/29
  
    .part-light
      #team.container-sm.py-5
        div(data-aos="")
          h1.text-center 主辦單位
          mixin team-block(_id)
            .team-block.col-lg-6.p-3.d-flex.flex-row
              .team-avatar
                img.team-img(src="/assets/avatar/"+_team_members[_id].en+".jpg")
              .team-detail
                h5= _team_members[_id].name+"／"+_team_members[_id].en
                h6= _team_members[_id].title
                p.m-0= _team_members[_id].disc
          .container.text-left
            a.jothon-banner(style="background-image: url('/assets/img/jothon-bg.svg');")
            p.p-3
              |「g0v 零時政府揪松團」係 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松外，2016 年起亦積極推動社群基礎建設，並於同年底推出 g0v 公民科技創新獎助金計畫 。2020 年開辦「零時小學校」。<br/><br/>
            .row.justify-content-center          
              each val, index in _team_members
                +team-block(index)        
              .team-block.col-lg-6.px-3
      hr
      #partner.container-sm.py-5
        div(data-aos="")
          h1.text-center 合作夥伴
          p.text-center.p-4 零時小學校 Sch001 是由 g0v 零時政府揪松團主辦的專案，並由誠致教育基金會與聯合報系願景工程贊助。
          .container.text-center
            .row.justify-content-center            
              .col-lg-4
                .partner-img(type="button" data-toggle="modal" data-target="#modal-kist" style="background-image: url('/assets/img/誠致教育基金會 logo.png');")
                a 財團法人誠致文教基金會
              .col-lg-4
                .partner-img(type="button" data-toggle="modal" data-target="#modal-udn" style="background-image: url('/assets/img/願景工程+努力讓台灣更好-1.png');")
                a 聯合報系願景工程
          hr
          h3.text-center 社群夥伴
          mixin partners-block(_id)
            .partners-block.col-lg-2.text-center.p-2.m-2
              a(target="_blank" href=_partners[_id].link)
                .partner-img(style="background-image: url(/assets/partners/"+_partners[_id].img+");")
                a #{_partners[_id].name}
          .row.justify-content-center
            each val, index in _partners
              +partners-block(index)        
      #modal-kist.modal.fade(tabindex="-1" role="dialog" aria-labelledby="kist-title" aria-hidden="true"): .modal-dialog(role="document"): .modal-content
        .modal-header
          h5#kist-title.modal-title 財團法人誠致教育基金會
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p.p-3.m-0
            |財團法人誠致教育基金會秉持著「關懷弱勢、科學救國」的理念在台灣各地偏鄉耕耘，不僅自 2017 年起承接三所公辦民營學校，也為了紀念交通大學畢業、終身獻身科技業的程有威先生，而設立「程有威先生教育科技獎」，以「教育意義」、「科技運用」、「創新性」為審核標準，評選提供學生獲得均等、一流學習權的傑出教育工作者或團隊，以鼓勵教育工作者或團隊善用科技，提升學生學習的動機、品質及成效。
            .container.p-3(style="background-color: #EEE; border-radius: 3px;")
              p.p-3.m-0
                | 誠致教育基金會在意的事情：識字量。<br/><br/>                  
                | 目前有找到一篇針對花東地區學生識字量的研究，請參考<a href="http://epbulletin.epc.ntnu.edu.tw/upload/journal/prog/8e2d8476_20170928.pdf" target="_blank" rel="noopener" done="">花東地區學生識字量的特性：偏遠小校—弱勢中的弱勢</a>。<br/><br/>
              p.p-3.m-0 關於識字量的研究，請參考：
              ol
                li <a href="http://epbulletin.epc.ntnu.edu.tw/upload/journal/prog/18e38bed_20171213.pdf" target="_blank" rel="noopener" done="">一到九年級學生國字識字量發展</a>
                li <a href="https://www.naer.edu.tw/ezfiles/0/1000/img/63/54777878.pdf" target="_blank" rel="noopener" done="">如何進行閱讀教學</a>
              p.p-3.m-0 另外，針對識字量測驗的方式，目前學校老師有使用過的方式有兩種：
              ol
                li <a href="http://pair.nknu.edu.tw/literacy/Page.aspx?PN=Contact" target="_blank" rel="noopener" done="">高師大創建的識字量測驗系統</a>
                li <a href="http://reading.cw.com.tw/readingtest/index.htm" target="_blank" rel="noopener" done="">天下雜誌創建的識字量估計測驗</a>
      #modal-udn.modal.fade(tabindex="-1" role="dialog" aria-labelledby="udn-title" aria-hidden="true"): .modal-dialog(role="document"): .modal-content
        .modal-header
          h5#udn-title.modal-title 聯合報系願景工程
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p.p-3
            |「願景工程」是聯合報系於 2011 年六十社慶成立的新組織，最大任務就是投身於促動社會的正向改變；期待寫出的每個字，每格影像，都帶著改變的能量。<br/><br/>
            |教育議題，尤其是偏鄉教育，一直是願景工程關切的主題，我們深信，有素質的公民才能打造出理想的民主社會。2013 年推出<a target="_blank" href="https://vision.udn.com/vision/cate/7618">《為青年尋路四部曲》</a>，探討產學落差、人才外流等問題；2016 <a target="_blank" href="https://vision.udn.com/vision/story/7657/2223700">《高教轉骨》</a>追蹤報導及 2017 <a target="_blank" href="https://vision.udn.com/vision/story/12004/3082490">《高教十字路》</a>，分別促使教育部推動 200 億元的技職再造計畫，訂定高教創新轉型方案，以及以「玉山計畫」、「高教深耕計畫」回應。<br/><br/>
            | <a target="_blank" href="https://vision.udn.com/vision/story/8251/3203523">《偏鄉教育》</a>更是願景工程心之所繫，教育部挹注三億元改善偏鄉學校宿舍等措施回應；2017 年，「偏鄉教育法」三讀。2019 年，<a target="_blank" href="https://vision.udn.com/vision/cate/120639">《新課綱．救科技》</a>解析「科技領域」作為 108 新課綱亮點，是教學現場的全新挑戰。<br/><br/>
            |願景工程也多年與<a target="_blank" href="https://vision.udn.com/vision/story/12425/4169478">《g0v 公民科技創新獎助金》</a>合作，贊助優秀團隊；我們深認同「零時小學校」的理念：好的科技工具能夠改變社會，好的科技工具也可以教育出更好的人，讓台灣變成更好的社會。
      
    include footer.pug