- var _title = index['title'];
- var _partners = index['partners'];
- var _team_members = index['team_members'];
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include header.pug
  link(rel="stylesheet" href="styles/common.css")
  link(rel="stylesheet" href="styles/index.css")
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include nav.pug
    #header.container-fluid.m-0.p-0
      .inner
    .part-light
      #about.container-md.p-4
        div(data-aos-offset="100" data-aos="fade-up")
          h1.p-4 關於小學校
          p.px-4.py-1 
            | 零時小學校是聚焦在教育的 g0v 專案，旨在推廣資訊科技、分析問題和協作分工的概念，只要是有心學習的人，都可以站上自學和共學的起點，開啟專案參與的旅程！
          p.px-4.py-1
            | 專案英文名稱「Sch001」將代表數位原生世代的「0」與「1」放入代表教育的「學校（School）」，期待可以此代表教育與數位社群的連結與協作，一起從零思考教育。
          h3.pl-4.pt-4 g0v 社群與 g0v 黑客松
          .container-fluid.p-4
            p.p-4.m-0.font-italic.quote-box
              |「教育：一種有關培植人才，訓練技能，以支應於國家建設、社會發展的事業。」<br/>
              |「知識：認識的人、朋友；學問、所知道的事理。」<br/>
              |––萌典
          p.px-4.py-1
            | g0v 零時政府社群是一個致力於推動開放協作的社群，社群參與者來自四方，有開發者、設計師、社運工作者、教育工作者，還有公民與鄉民。這些人聚在一起，以網路工具溝通協作，參與黑客松，各專案成果（包括但不限於文件、圖像、程式碼、運算資料、數據分析結果及過程執行方式）需以開放授權釋出，讓更多人能使用、改善、回饋，發揮最大效用。（引用自<a href="https://g0v.tw/manifesto/" target="_blank">零時政府宣言</a>）
          p.px-4.py-1 
            | g0v 零時政府黑客松（簡稱 g0v 黑客松）是由 g0v 揪松團籌辦，兩個月一次的單天活動，百名與會者來自不同的城市、背景、專長與年紀，利用三分鐘的時間將自己想做的事快速發表，並在活動現場尋找志同道合的夥伴，發揮各自所長，同時透過線上與線下協作的方式，用弄髒雙手的精神來「讓事情發生」。（看更多關於 <a href="https://jothon.g0v.tw/" target="_blank">g0v 黑客松</a>）
          h3.pl-4.pt-4 活化紙本，知識在社群開放出來          
          p.p-4
            | g0v 社群的貢獻者們，曾經協作「<a href="https://www.moedict.tw/" target="_blank">萌典</a>」、「<a href="https://amis.moedict.tw/" target="_blank">阿美語萌典</a>」、「<a href="https://itaigi.tw/" target="_blank">iTaigi</a>」和「<a href="https://chhoe.taigi.info/" target="_blank">ChhoeTaigi 找台語</a>」等專案，協作的方法不盡相同，包括紙本資料數位化、資料格式化和宅宅文字辨識 OCR（Otaku Character Recognition）等等，這些專案讓知識開放在公共領域，成為開放知識資料的重要基礎建設。(<a href="https://g0v.hackmd.io/@jothon/edu-list" target="_blank">參考更多教育專案</a>)

      hr
      #news.container-md.px-4.d-none
        div(data-aos-offset="100" data-aos="") 
          h1.p-4 最新消息
          .news-list.p-4

      hr
      #howto.container-md.p-4
        div(data-aos-offset="100" data-aos="") 
          h1.p-4 如何參與        
          p.px-4.py-1
            b 我要怎麼參與這個專案？不會寫程式可以嗎？<br/><br/>
            i 不會寫程式當然沒問題！<br/><br/>
            | 目前，零時小學校（Sch001）有教育工作者、設計師和工程師加入協作的行列，因此，只要你希望透過這個平台，與大家一起協作，都歡迎你透過以下方式，加入零時小學校或 g0v 社群！
          .container
            #howto-steps.row.justify-content-center
              .col-md-4.text-center(data-aos-offset="100" data-aos="fade-up")
                .step-img(style="background-image: url(assets/img/header.png);")
                h4.text-center 第零步：找到小學校網站和共筆，即時學習自己來！
                p 所有零時小學校的介紹、協作方式、參考案例和合作夥伴介紹都在這。
                a.btn.btn-outline-my.btn-block(role="button" href="https://sch001.g0v.tw/") 零時小學校
              .col-md-4.text-center(data-aos-offset="100" data-aos="fade-up" data-aos-delay="100")
                .step-img(style="background-image: url(assets/img/step0.png);")
                h4.text-center 第一步：線上加入小學校平台，不分地域找夥伴！
                p Slack、臉書社團、IG 帳號、LINE 社群，隨時加入社群無負擔！
                a.btn.btn-outline-my.btn-block(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/howtojoinslackedu") 小學校平台一把抓
              .col-md-4.text-center(data-aos-offset="100" data-aos="fade-up" data-aos-delay="200")
                .step-img(style="background-image: url(assets/img/step2_2021.jpg);")
                h4.text-center 第二步：實體參加小學校活動，跟志同道合的夥伴一起討論專案！
                p 小學校網站、共筆以及相關社群平台，都會發布最新活動訊息，只要你完成第零步和第一步，就可以無負擔參加小學校活動囉！
                a.btn.btn-outline-my.btn-block(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/jothon2021") 零時小學校 2021 行事曆

    .part-dark
      #team.container-md.py-4
        div(data-aos-offset="100" data-aos="")
          h1.text-center.p-4 主辦單位
          mixin team-block(_id)
            .team-block.col-md-6.p-3.d-flex.flex-row
              .team-avatar
                img.team-img(src="/assets/avatar/"+_team_members[_id].en+".jpg")
              .team-detail
                h5= _team_members[_id].name+"／"+_team_members[_id].en
                h6= _team_members[_id].title
                p.m-0= _team_members[_id].disc
          .container.text-left
            div(data-aos-offset="100" data-aos="flip-up")
              .jothon-banner(style="background-image: url('/assets/img/jothon-bg-dark.svg');")

            .container
              p.p-4
                |「g0v 零時政府揪松團」係 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松外，2016 年起亦積極推動社群基礎建設，並於同年底推出 g0v 公民科技創新獎助金計畫 。2020 年開辦「零時小學校」。<br/><br/>
            .row.justify-content-center          
              each val, index in _team_members
                +team-block(index)        
              .team-block.col-md-6.px-3

    .part-light.py-4
      #partner.container-md.p-4
        div(data-aos-offset="100" data-aos="")
          h1.text-center.p-4 合作夥伴
          .container
            p 
              | 零時小學校 Sch001 是由 g0v 零時政府揪松團發起的開源專案，所有成果以 <a href="https://creativecommons.org/licenses/by/4.0/deed.zh_TW" target="_blank">CC 姓名標示 4.0 國際</a> 授權條款釋出至公眾領域。
              | <br/>
              | 誠摯感謝所有合作夥伴贊助或以各種形式支持零時小學校。如果您有興趣贊助或以各種形式與我們合作，歡迎來信至 jothon-organizers {at} g0v.tw
            p.text-center
              a.btn.btn-lg.btn-outline-my.mr-1(href="https://drive.google.com/file/d/1gy3VNxXrjT5E6X6Sbra3Q5fNSIS4OIGS/view?usp=sharing" role="button" target="_blank") 零時小學校 2021 企畫書
          h3.text-center.py-2 啟蒙者夥伴
          .row.justify-content-center.text-center
            .col-md-4
              .partner-img(type="button" data-toggle="modal" data-target="#modal-udn" style="background-image: url('/assets/img/願景工程+努力讓台灣更好-1.png');")
              //a 聯合報系願景工程
          hr

          h3.text-center.py-2 源力夥伴
          - var delay = 0;
          mixin partners-block(_id)
            .partners-block.col-md-3.text-center.p-2(data-aos-offset="100" data-aos="fade-up", data-aos-delay= delay+=100): .p-2.h-100
              a(target="_blank" href=_partners['source'][_id].link)
                .partner-img(style="background-image: url(/assets/partners/"+_partners['source'][_id].img+");")
                a #{_partners['source'][_id].name}
          .row.justify-content-center
            each val, index in _partners['source']
              if index%2 == 0
                - delay = 0;
              +partners-block(index)
          hr
          h3.text-center.py-2 社群夥伴
          - var delay = 0;
          mixin partners-block(_id)
            .partners-block.col-md-3.col-lg-2.text-center.p-2(data-aos-offset="100" data-aos="fade-up", data-aos-delay= delay+=100): .p-2.h-100
              a(target="_blank" href=_partners['community'][_id].link)
                .partner-img(style="background-image: url(/assets/partners/"+_partners['community'][_id].img+");")
                a #{_partners['community'][_id].name}

          .row.justify-content-center
            each val, index in _partners['community']
              if index%2 == 0
                - delay = 0;
              +partners-block(index)

      #modal-udn.modal.fade(tabindex="-1" role="dialog" aria-labelledby="udn-title" aria-hidden="true"): .modal-dialog(role="document"): .modal-content
        .modal-header
          h5#udn-title.modal-title 聯合報系願景工程
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p.p-3
            |「願景工程」是聯合報系於 2011 年六十社慶成立的新組織，最大任務就是投身於促動社會的正向改變；期待寫出的每個字，每格影像，都帶著改變的能量。<br/><br/>
            |教育議題，尤其是偏鄉教育，一直是願景工程關切的主題，我們深信，有素質的公民才能打造出理想的民主社會。2013 年推出<a target="_blank" href="https://vision.udn.com/vision/cate/7618">《為青年尋路四部曲》</a>，探討產學落差、人才外流等問題；2016 <a target="_blank" href="https://vision.udn.com/vision/story/7657/2223700">《高教轉骨》</a>追蹤報導及 2017 <a target="_blank" href="https://vision.udn.com/vision/story/12004/3082490">《高教十字路》</a>，分別促使教育部推動 200 億元的技職再造計畫，訂定高教創新轉型方案，以及以「玉山計畫」、「高教深耕計畫」回應。<br/><br/>
            | <a target="_blank" href="https://vision.udn.com/vision/story/8251/3203523">《偏鄉教育》</a>更是願景工程心之所繫，教育部挹注三億元改善偏鄉學校宿舍等措施回應；2017 年，「偏鄉教育法」三讀。2019 年，<a target="_blank" href="https://vision.udn.com/vision/cate/120639">《新課綱．救科技》</a>解析「科技領域」作為 108 新課綱亮點，是教學現場的全新挑戰。<br/><br/>
            |願景工程也多年與<a target="_blank" href="https://vision.udn.com/vision/story/12425/4169478">《g0v 公民科技創新獎助金》</a>合作，贊助優秀團隊；我們深認同「零時小學校」的理念：好的科技工具能夠改變社會，好的科技工具也可以教育出更好的人，讓台灣變成更好的社會。

    include footer.pug    
    script.
      $(window).on("load",function() {
        console.log("loaded");
        $("#header .inner").fadeIn(1000);
      });

      //$.getJSON( "https://sch001.g0v.tw/dash/api/brd/sch001-2021/post", function( data ) {
      $.getJSON( "/assets/test_news.json", function( data ) {
        console.log(data);
        
        data.forEach(element => {
          console.log(element);
          let time = new Date(element['modifiedtime']);
          $("#news .news-list").append(`<p><a href="${element['slug']}" target="">[${time.toLocaleDateString('zh-TW')}] ${element['title']}</a></p>`);
        });
      });