- var _partners = index['partners'];
- var _team_members = index['team_members'];
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include header.pug
  link(rel="stylesheet" href="/styles/common.css?version="+timestamp)
  link(rel="stylesheet" href="/styles/index.css?version="+timestamp)
  link(rel="stylesheet" href="/styles/timeline.css?version="+timestamp)
  body(data-spy="scroll" data-bs-target=".navbar" data-offset="100")
    include nav.pug
    .main-image.container-fluid.m-0.p-0
      .inner
      a#go-create.btn.btn-my.btn-lg(role='button' href="//sch001.g0v.tw/dash/brd/sch001-2023-prjs/list") 看提案
    .part-light    
      #news.container-md.d-none
        .p-4(data-aos-offset="100" data-aos="") 
          h1.mb-4 最新消息
          .news-list
        hr
      //.container-md
        .p-4(data-aos-offset="100" data-aos="fade-up")
          h1.py-4
            span.me-2 專案孵化競賽
            .btn-group(role="group")
              a.btn.btn-my(role='button' href="/means") 競賽辦法
              a.btn.btn-my(role='button' href="//sch001.g0v.tw/dash/brd/sch001-2023-prjs/list") 看提案
          p 面對生活中大大小小的怪事，有沒有想過只要一些勇氣動起來，就有機會「挖坑、找到隊友、用數位工具」組隊打怪，進而豐富學習與生命歷程，並用專案改變社會！
          p 在 g0v 零時政府社群中，有著一群老師、學生，以及各行各業熱血的數位公民，正在下班下課之餘，運用自身所長與一群人用行動改變社會，這群人共創 836 件以上的公民科技專案，像是 Cofacts 真的假的、Disfactory 農地違章工廠舉報、萌典、投票指南、口罩地圖、島島阿學...
          p <b>我們相信你也可以，我們也願意陪你一起</b>。g0v 零時小學校希望邀請學生、老師，以及任何「想用行動解決生活／社會需求」的行動家，一起用開源協作的方式做專案，把想像變成可能！
          p 人人都有不同的生活及社會關注，每個需求也都需要被照顧。故徵件主題不設限，任何與符合聯合國永續指標 SDGs 或社會創新、教育、公共議題，且符合開源協作的精神都歡迎提案。而 22 歲以下青年提案將有保障名額的機會唷！
          p 計畫包含 g0v 公民科技專案資深參與者的一對一輔導、提案優化工作坊、資源媒合、入選獎金，專業評審也將從初選到決選 Demo Day 給予回饋。我們希望藉由多元的支持，陪伴各團隊不斷優化專案，我們也相信 「release early, release often」，不怕試錯將帶來更好的收穫。
          p 現在，話不多說，開坑！組隊打怪吧！
      #about.container-md
        .p-4.mb-4(data-aos-offset="100" data-aos="fade-up")
          h1.py-4 關於零時小學校
          p.py-1 
            | 零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的意涵，同時也代表教育與數位社群的連結與協作。
          .row.g-0
            .col-lg-9
              h3.mt-4 養一個孩子需要眾人之力：從社群孕育數位公民
              p.py-1                  
                | g0v 社群十年來以「開源模式」、「行動主義」、「公民精神」，聚集萬位跨域跨齡貢獻者，自發性提出的近千件開源協作專案的經驗。零時小學校盼以橋樑角色，將 g0v 數位社群與教育利害關係人連結，將社群的豐富經驗轉化為「向社群學習，與社群共學」、專案導向的學習模式及資源，透過設計數位公民課程、舉辦營隊／黑客松、與學校合作課程及師培、舉辦專案孵化競賽日等方式，鼓勵更多人一起從零思考教育，讓「自主 Ｘ 協作 Ｘ 跨界 Ｘ 行動」專案在教學現場發生，跳脫學校框架，讓人人都可以在社群中自發性協作，用行動改變社會。
              h3.mt-4 人人都是「沒有人」，人人都可以改變教育
              p.py-1 
                | 2019年成立來已舉辦 20 場師培/學生營隊、3 場專案孵化競賽，並與 4 所高中及大學合作開設數位公民課，超過 250 位教師、1000 位學生參與。此外，在各式課程活動與專案孵化競賽中，零時小學校收到 69 件公民科技專案，其中 32 件由國高中生及大學生提出，令人驚艷，且專案面向多元，涵蓋鄉村教育、學習資源整合與共享、地方學課程、教育資料庫建立、高中生課業與人際、教師協作、行人平權等。
            .col-lg-3: .core
              img.w-100(src="/assets/img/核心圖.png" alt="")
              .d-grid: a.btn.btn-outline-my(href="https://drive.google.com/file/d/1p8BGnhcEApNRTuBsnyUV7WxbucuuEsSv/view" role="button" target="_blank") 零時小學校 2021 成果手冊
        .swiper.echo(data-aos-offset="100" data-aos="fade-up")
          .swiper-wrapper
            .swiper-slide: .row
              .col-auto: img.avatar(src="/assets/avatar/echo/劉姝言.jpg" alt="")
              .col 
                h5 「希望開源協作的精神與實踐可以在更多學校進行，這將讓教與學的內涵與方式產生影響與轉變。」
                small.float-end - 劉姝言，台中女中教師，2021-22 零時小學校 Demo Day 評選委員
            .swiper-slide: .row
              .col-auto: img.avatar(src="/assets/avatar/echo/胡瑞原.jpg" alt="")
              .col 
                h5 「零時起點，揪團之地，圓夢來源。」
                small.float-end - 胡瑞原，台南女中老師，南女人，2021-22 零時小學校 Demo Day 評選委員
            .swiper-slide: .row
              .col-auto: img.avatar(src="/assets/avatar/echo/曾憲立.jpg" alt="")
              .col 
                h5 「行動參與帶來改變的契機。」
                small.float-end - 曾憲立，國立臺南大學行政管理學系助理教授，2021-22 零時小學校 Demo Day 評選委員
            .swiper-slide: .row
              .col-auto: img.avatar(src="/assets/avatar/echo/蔡秀吉.jpg" alt="")
              .col 
                h5 「揪松團及社群中的所有人，讓我體會到『只要你有心，全世界都會來幫你！』」
                small.float-end - 蔡秀吉，學生，2021-22 零時小學校 Demo Day 獲獎團隊
            .swiper-slide: .row
              .col-auto: img.avatar(src="/assets/avatar/echo/TonyChen.jpg" alt="")
              .col 
                h5 「感謝有這個機會，讓我認識公民議題，了解到原來程式的影響力是可以大量與生活結合的，也藉此認識黑客松跟程式的其他面向，以及許多厲害的人跟資源。」
                small.float-end - Tony Chen，學生，2021-22 零時小學校 Demo Day 獲獎團隊
          .swiper-button-next
          .swiper-button-prev
      //#timeline-content: ul.timeline
        li.event(data-date='2019')
          h4 零時小學校籌備中
        li.event(data-date='2020')
          h4 2月｜「開學日」暨第一次工作坊
          h4 4月｜第二次工作坊
          h4 6月｜第三次工作坊
          p 累積超過80人參與！
        li.event(data-date='')
          h4 8月｜Demo Day 競賽日
          p 總計收到27件提案！
        li.event(data-date='')
          h4 12月｜Summit 峰會
        li.event(data-date='2021')
          h4 2月｜舉辦小學校松
        li.event(data-date='')
          h4 3月｜「開學日」：於台南女中舉辦「源力增能營」
          p 超過90位台南跨校共學者
        li.event(data-date='')
          h4 4月｜於崑山科技大學舉辦「源力增能營」
          p 共計100多位學生參與者
        li.event(data-date='')
          h4 7-8月｜舉辦「夏日原理」 2021 線上源力增能營 #SSR2021
          p 超過500位線上參與者
        li.event(data-date='')
          h4 11月｜與 LASS 專案一同舉辦新竹小松
          p 連結新竹地區高中地理教師
        li.event(data-date='2022')
          h4 1月｜Demo Day 提案決選會
          p 收到10件教育專案
        li.event(data-date='')
          h4 2月｜g0v 第肆拾捌次大松舉辦 Demo Day
          p 超過100人參與台日跨國發表！
        li.event(data-date='')
          h4 3月｜與臺中女中社會科班級合作，由公民科技專案推動者帶領同學熟悉協作工具、研擬自主專案雛形
          p 已產出8件協作專案！

      #todo.container-md.mt-4
        .p-4(data-aos-offset="100" data-aos="") 
          h1.py-4 2023 年零時小學校會做些什麼事情呢？
          h3.py-3 年度目標 ─「自主 Ｘ 協作 Ｘ 跨界 Ｘ 行動」專案培力
          .row.gy-3.gx-3
            .col-md-6.col-lg-3: .todo-box(data-aos-offset="100" data-aos-delay="0" data-aos="fade-up")
              h5 【自主】自主學習陪伴機制
              ul
                li 數位公民課程開發
                li 零時先輩問起來！g0v Mentor 專案系統
                li 建立開源歷程紀錄網站
            .col-md-6.col-lg-3: .todo-box(data-aos-offset="100" data-aos-delay="50" data-aos="fade-up")
              h5 【協作】數位社群協作進入校園
              ul
                li 與高中及大學合作長期課程 
                li 舉辦暑期營隊、一日地方營隊
                li 舉辦師培課程
            .col-md-6.col-lg-3: .todo-box(data-aos-offset="100" data-aos-delay="100" data-aos="fade-up")
              h5 【跨界】跨界共學串連社群培力
              ul          
                li 提供線上協作場域
                li 定期舉辦黑客松與社群交流聚會
                li 與相關社群連結及合作
            .col-md-6.col-lg-3: .todo-box(data-aos-offset="100" data-aos-delay="150" data-aos="fade-up")
              h5 【行動】專案成果孵化競賽
              ul 
                li 舉辦 Demo Day 專案成果孵化競賽
                li 製作及發行年度成果手冊
                li 提供各專案資源及宣傳等支持
          p.py-4: black
            | 合作夥伴募集中！
            | 合作夥伴募集中！如果您想合作課程、舉辦營隊或師培等活動，將數位公民教育推廣至你的學校，或有興趣贊助或以各種形式與我們合作，歡迎來信至 
            a(href='mailto:jothon-organizers@g0v.tw' target='_blank') jothon-organizers@g0v.tw
          p.text-center: a.btn.btn-outline-my.btn-lg(role="button" target="_blank" href="https://docs.google.com/document/d/14Y_OtebRfdiIAY80lxXfD9i05zmdwRLB5A7A8Mr5g-M/") 零時小學校 2023 企劃書

      #howto.container-md
        .p-4(data-aos-offset="100" data-aos="") 
          h1.py-4 如何參與
          p
            b 我要怎麼參與這個專案？不會寫程式可以嗎？<br/><br/>
            i 不會寫程式當然沒問題！<br/><br/>
            | g0v 專案時常都是跨齡跨界的夥伴協力而成，重要的是找到你有興趣的坑與角色跳進去！零時小學校目前有學生、教育工作者、設計師和工程師加入協作的行列，因此，只要你希望透過這個平台，與大家一起協作，都歡迎你透過以下方式，加入零時小學校或 g0v 社群！
          #howto-steps.row.justify-content-center
            .col-md-3.text-center(data-aos-offset="100" data-aos="fade-up")
              .step-img(style="background-image: url(assets/img/header.png);")
              h4.text-center 第一步：加入零時小學校溝通協作平台，不分地域找夥伴共學、協作專案！
              p Slack、Discord、Facebook 社團、IG、LINE 社群，隨時加入社群無負擔！
              .d-grid: a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/howtojoinslackedu") 零時小學校平台一把抓
            .col-md-3.text-center(data-aos-offset="100" data-aos="fade-up" data-aos-delay="100")
              .step-img(style="background-image: url(assets/img/step0.png);")
              h4.text-center 第二步：參加活動培養數位公民素養！
              p 零時小學校每年皆會舉辦暑期營隊、專案孵化競賽等活動，並與各校合作長期課程，點行事曆立即報名！
              .d-grid: a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/jothon2023") 掌握零時小學校行事曆
            .col-md-3.text-center(data-aos-offset="100" data-aos="fade-up" data-aos-delay="200")
              .step-img(style="background-image: url(assets/img/step2_2021.jpg);")
              h4.text-center 第三步：自主學習數位公民線上課程！
              p 23 堂以上專案協作架構與心法、多元專案經驗分享、數位工具學習與應用等線上免費課程等你來自主學習！
              .d-grid: a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/Sch001courses") 數位公民線上課程
            .col-md-3.text-center(data-aos-offset="100" data-aos="fade-up" data-aos-delay="300")
              .step-img(style="background-image: url(assets/img/step2_2021.jpg);")
              h4.text-center 第四步：合作課程／講座等活動！
              p 零時小學校合作模式多元，包含高中及大學長期課程、營隊、講座、師培等，歡迎填寫表單開啟合作！
              .d-grid: a.btn.btn-outline-my(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/sch001pr0jectcourseplan") 點我了解合作計畫

    .part-dark
      #team.container-md
        .p-4(data-aos-offset="100" data-aos="")
          h1.text-center.p-4 主辦單位
          mixin team-block(_id)
            .team-block.col-md-6.p-3.d-flex.flex-row
              .team-avatar
                img.team-img(src="/assets/avatar/"+_team_members[_id].en+".jpg")
              .team-detail
                h5= _team_members[_id].name+"／"+_team_members[_id].en
                h6= _team_members[_id].title
                p.m-0= _team_members[_id].disc
          .container.text-left
            div(data-aos-offset="100" data-aos="flip-up")
              .jothon-banner(style="background-image: url(/assets/img/jothon-bg-dark.svg);")

            .container
              p.p-4.mb-4 g0v 揪松團是籌辦 g0v 社群雙月黑客松的工作小組，維護社群運作所需基礎建設，並以 g0v 零時小學校、g0v Underground 零時電台、協辦 g0v Summit 等專案，建立跨域連結，創造協作場域，推廣 g0v 「公民精神」、「行動主義」、「開源精神」的核心理念。
            .row.justify-content-center          
              each val, index in _team_members
                +team-block(index)        
              .team-block.col-md-6.px-3
              p.text-center: a.btn.btn-outline-my.btn-lg.col-12.col-md-4(role="button" data-bs-toggle="modal" data-bs-target="#modal-contact" href="#") 找窗口

    .part-light.py-4
      #partner.container-md
        .p-4(data-aos-offset="100" data-aos="")
          h1.text-center.p-4 歷年合作夥伴
          .container
            p.text-center.p-2
              | 零時小學校 Sch001 是由 g0v 零時政府揪松團發起的開源專案，所有成果以 <a href="//creativecommons.org/licenses/by/4.0/deed.zh_TW" target="_blank">CC 姓名標示 4.0 國際</a> 授權條款釋出至公眾領域。
              | <br/>
              | 誠摯感謝所有合作夥伴贊助或以各種形式支持零時小學校。如果您有興趣贊助或以各種形式與我們合作，歡迎來信至 
              a(href='mailto:jothon-organizers@g0v.tw' target='_blank') jothon-organizers@g0v.tw
            //p.text-center.mb-5
              a.btn.btn-lg.btn-outline-my.me-1(href="https://drive.google.com/file/d/1gy3VNxXrjT5E6X6Sbra3Q5fNSIS4OIGS/view?usp=sharing" role="button" target="_blank") 零時小學校 2021 企畫書
          
          h3.text-center.py-2 啟蒙者夥伴
          .row.justify-content-center.text-center
            .col-md-4
              .partner-img(type="button" data-bs-toggle="modal" data-bs-target="#modal-udn" style="background-image: url('/assets/img/partners/願景工程+努力讓台灣更好-1.png');")
            .col-md-4
              .partner-img(type="button" data-bs-toggle="modal" data-bs-target="" style="background-image: url('/assets/img/partners/晨星.jpg');")
            .col-md-4
              .partner-img(type="button" data-bs-toggle="modal" data-bs-target="" style="background-image: url('/assets/img/partners/誠致.png');")
          hr

          h3.text-center.py-2 源力夥伴
          - var delay = 0;
          mixin partners-block(_id)
            .partners-block.col-md-4.text-center.p-2(data-aos-offset="100" data-aos="fade-up", data-aos-delay= delay+=100): .p-2.h-100
              a(target="_blank" href=_partners['source'][_id].link)
                .partner-img(style="background-image: url(/assets/img/partners/"+_partners['source'][_id].img+");")
                a #{_partners['source'][_id].name}
          .row.justify-content-center.px-4
            each val, index in _partners['source']
              if index%2 == 0
                - delay = 0;
              +partners-block(index)
          hr
          h3.text-center.py-2 社群夥伴
          - var delay = 0;
          mixin partners-block(_id)
            .partners-block.col-md-3.col-lg-2.text-center.p-2(data-aos-offset="100" data-aos="fade-up", data-aos-delay= delay+=100): .p-2.h-100
              a(target="_blank" href=_partners['community'][_id].link)
                .partner-img(style="background-image: url(/assets/img/partners/"+_partners['community'][_id].img+");")
                a #{_partners['community'][_id].name}

          .row.justify-content-center.px-4
            each val, index in _partners['community']
              if index%2 == 0
                - delay = 0;
              +partners-block(index)

      #modal-udn.modal.fade(tabindex="-1" role="dialog" aria-labelledby="udn-title" aria-hidden="true"): .modal-dialog.modal-dialog-centered(role="document"): .modal-content
        .modal-header
          h5#udn-title.modal-title 聯合報系願景工程
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          p.p-3
            |「願景工程」是聯合報系於 2011 年六十社慶成立的新組織，最大任務就是投身於促動社會的正向改變；期待寫出的每個字，每格影像，都帶著改變的能量。<br/><br/>
            |教育議題，尤其是偏鄉教育，一直是願景工程關切的主題，我們深信，有素質的公民才能打造出理想的民主社會。2013 年推出<a target="_blank" href="https://vision.udn.com/vision/cate/7618">《為青年尋路四部曲》</a>，探討產學落差、人才外流等問題；2016 <a target="_blank" href="https://vision.udn.com/vision/story/7657/2223700">《高教轉骨》</a>追蹤報導及 2017 <a target="_blank" href="https://vision.udn.com/vision/story/12004/3082490">《高教十字路》</a>，分別促使教育部推動 200 億元的技職再造計畫，訂定高教創新轉型方案，以及以「玉山計畫」、「高教深耕計畫」回應。<br/><br/>
            | <a target="_blank" href="https://vision.udn.com/vision/story/8251/3203523">《偏鄉教育》</a>更是願景工程心之所繫，教育部挹注三億元改善偏鄉學校宿舍等措施回應；2017 年，「偏鄉教育法」三讀。2019 年，<a target="_blank" href="https://vision.udn.com/vision/cate/120639">《新課綱．救科技》</a>解析「科技領域」作為 108 新課綱亮點，是教學現場的全新挑戰。<br/><br/>
            |願景工程也多年與<a target="_blank" href="https://vision.udn.com/vision/story/12425/4169478">《g0v 公民科技創新獎助金》</a>合作，贊助優秀團隊；我們深認同「零時小學校」的理念：好的科技工具能夠改變社會，好的科技工具也可以教育出更好的人，讓台灣變成更好的社會。

    include footer.pug    
    script.
      let swiper = new Swiper(".echo", {
        loop: true,
        spaceBetween: 10,
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });

      const limit_date = new Date('2022-02-10');
      let allnews = [];

      function getNews(url) {
        return new Promise(resolve => {
          $.getJSON( url , function( data ) {
            console.log(data);
            if(data.length > 0) {
              data.forEach(element => {
                console.log(element);
                allnews.push(element);
              });
            }
            resolve();
          });
        });
      }
      async function startGetNews() {
        if (location.hostname === "localhost" || location.hostname === "127.0.0.1") { // 測試用
          await getNews("/assets/test_news.json");
        } else {
          await getNews("https://sch001.g0v.tw/dash/api/brd/sch001-2023-prjs/post");
          await getNews("https://sch001.g0v.tw/dash/api/brd/sch001-2022/post");
          await getNews("https://sch001.g0v.tw/dash/api/brd/sch001-2021/post");
        }
        allnews.sort((a,b) => {
          let ta = new Date(a['modifiedtime'])
          let tb = new Date(b['modifiedtime'])
          return ta > tb
        });
        allnews.forEach(element => {
          console.log(element);
          allnews.push(element);
          var time = new Date(element['modifiedtime']);
          if(time > limit_date) {
            $("#news").removeClass("d-none");
            $("#news .news-list").append(`<p><a href="/dash/post/${element['slug']}" target="_blank">[${time.toLocaleDateString('zh-TW')}] ${element['title']}</a></p>`);
          }
        });
      }
      startGetNews();